In [1]:
import warnings

# 오류 경고 무시하기
warnings.filterwarnings(action='ignore')

# 1. 데이터 불러오기

In [2]:
import pandas as pd
import os

pd.options.display.float_format = '{:.3f}'.format
pd.set_option('display.max_columns', None)

PATH = './data/'

file_list= os.listdir(PATH)
csv_list = list()

for file in file_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)
data = ['living_popul', 'resident_popul', 'area', 'store', 'working_popul', 'facilitie', 'estimated_sales']

for name, file in zip(data, csv_list):
    globals()[name] = pd.read_csv(PATH + file, encoding = "ansi")

store = store.drop("Unnamed: 0", axis = 1)
estimated_sales = estimated_sales.drop("Unnamed: 0", axis = 1)

# 2. 데이터 전처리

## 2-0. 시점 통일 / 관광특구 제거

In [3]:
# 시점 통일
years = [20223, 20224, 20231, 20232]

living_popul = living_popul[living_popul['기준_년분기_코드'].isin(years)]
resident_popul = resident_popul[resident_popul['기준_년분기_코드'].isin(years)]
store = store[store['기준_년분기_코드'].isin(years)]
working_popul = working_popul[working_popul['기준_년분기_코드'].isin(years)]
facilitie = facilitie[facilitie['기준_년분기_코드'].isin(years)]
estimated_sales = estimated_sales[estimated_sales['기준_년분기_코드'].isin(years)]

# 관광특구 제거
living_popul = living_popul[living_popul['상권_구분_코드_명']!='관광특구']
resident_popul = resident_popul[resident_popul['상권_구분_코드_명']!='관광특구']
store = store[store['상권_구분_코드_명']!='관광특구']
working_popul = working_popul[working_popul['상권_구분_코드_명']!='관광특구']
facilitie = facilitie[facilitie['상권_구분_코드_명']!='관광특구']
estimated_sales = estimated_sales[estimated_sales['상권_구분_코드_명']!='관광특구']

## 2-1. 길단위인구 전처리

### 2-1-1 변수 처리

In [4]:
# 필요힌 변수 선택
living_popul = living_popul[['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '연령대_10_유동인구_수',
                            '연령대_20_유동인구_수', '연령대_30_유동인구_수', '연령대_40_유동인구_수',
                            '연령대_50_유동인구_수', '연령대_60_이상_유동인구_수']]

In [5]:
living_popul = living_popul.rename(columns = {'연령대_10_유동인구_수' : '10대',
                                             '연령대_20_유동인구_수' : '20대',
                                             '연령대_30_유동인구_수' : '30대',
                                             '연령대_40_유동인구_수' : '40대',
                                             '연령대_50_유동인구_수' : '50대',
                                             '연령대_60_이상_유동인구_수' : '60대 이상'})

In [6]:
living_popul = pd.melt(living_popul, id_vars = ['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명'],
                      var_name = '연령', value_name = '유동인구수')

### 2-1-3. 분기별 데이터 연도 기준 변환

In [7]:
living_popul_year = living_popul.drop('기준_년분기_코드', axis = 1)\
                                .groupby(['상권_구분_코드_명','상권_코드_명', '연령'],as_index = False)\
                                .mean()

## 2-2. 상주인구 전처리

### 2-2-1. 변수 처리

In [9]:
# 필요한 변수 선택
resident_popul = resident_popul[['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명',
                                '연령대_10_상주인구_수', '연령대_20_상주인구_수', '연령대_30_상주인구_수', '연령대_40_상주인구_수',
                                '연령대_50_상주인구_수', '연령대_60_이상_상주인구_수']]

In [10]:
resident_popul = resident_popul.rename(columns = {'연령대_10_상주인구_수' : '10대',
                                             '연령대_20_상주인구_수' : '20대',
                                             '연령대_30_상주인구_수' : '30대',
                                             '연령대_40_상주인구_수' : '40대',
                                             '연령대_50_상주인구_수' : '50대',
                                             '연령대_60_이상_상주인구_수' : '60대 이상'})

In [11]:
resident_popul = pd.melt(resident_popul, id_vars = ['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명'],
                      var_name = '연령', value_name = '상주인구수')

### 2-2-3. 분기별 데이터 연도 기준 변환

In [12]:
resident_popul_year = resident_popul[resident_popul['기준_년분기_코드'] == 20232].drop(['기준_년분기_코드'],axis=1)

## 2-3. 점포 전처리

### 2-3-1. 변수 처리

In [14]:
# 필요한 변수 선택
store = store[['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명',
              '유사_업종_점포_수']]

### 2-3-2. 분기별 데이터 연도 기준 변환

In [15]:
store_year = store[store['기준_년분기_코드'] == 20232].drop('기준_년분기_코드', axis = 1)\
                                                    .groupby(['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명'], as_index = False)\
                                                    .sum()

## 2-4. 직장인구 전처리

### 2-4-1. 변수 처리

In [17]:
working_popul = working_popul[['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명',
                              '연령대_10_직장_인구_수', '연령대_20_직장_인구_수', '연령대_30_직장_인구_수',
                              '연령대_40_직장_인구_수', '연령대_50_직장_인구_수', '연령대_60_이상_직장_인구_수']]

In [18]:
working_popul = working_popul.rename(columns = {'연령대_10_직장_인구_수' : '10대',
                                             '연령대_20_직장_인구_수' : '20대',
                                             '연령대_30_직장_인구_수' : '30대',
                                             '연령대_40_직장_인구_수' : '40대',
                                             '연령대_50_직장_인구_수' : '50대',
                                             '연령대_60_이상_직장_인구_수' : '60대 이상'})

In [19]:
working_popul = pd.melt(working_popul, id_vars = ['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명'],
                      var_name = '연령', value_name = '직장인구수')

### 2-4-3. 분기별 데이터 연도 기준 변환

In [20]:
working_popul_year = working_popul[working_popul['기준_년분기_코드'] == 20232].drop(['기준_년분기_코드'],axis=1)

## 2-5. 집객시설 전처리

### 2-5-1. 변수 처리

In [22]:
# 파생변수 생성
facilitie['교통시설수'] = facilitie['버스_정거장_수'] + facilitie['지하철_역_수']
 
facilitie['집객시설수'] = facilitie['집객시설_수']-facilitie['교통시설수']

# 필요한 변수 선택
facilitie = facilitie[['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '집객시설수', '교통시설수' ]]

In [23]:
# 결측값 0으로 대체
facilitie = facilitie.fillna(0)

### 2-5-3. 분기별 데이터 연도 기준 변환

In [24]:
facilitie_year = facilitie[facilitie['기준_년분기_코드'] == 20232].drop(['기준_년분기_코드'], axis = 1)

## 2-6. 추정매출 전처리

### 2-6-1. 변수 처리

In [26]:
# 필요한 변수 선택
estimated_sales = estimated_sales[['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', 
                                  '서비스_업종_코드_명', '연령대_10_매출_금액',
                                  '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액',
                                  '연령대_50_매출_금액', '연령대_60_이상_매출_금액']]

In [27]:
estimated_sales = estimated_sales.rename(columns = {'연령대_10_매출_금액' : '10대',
                                             '연령대_20_매출_금액' : '20대',
                                             '연령대_30_매출_금액' : '30대',
                                             '연령대_40_매출_금액' : '40대',
                                             '연령대_50_매출_금액' : '50대',
                                             '연령대_60_이상_매출_금액' : '60대 이상'})

In [28]:
estimated_sales = pd.melt(estimated_sales, id_vars = ['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명'],
                      var_name = '연령', value_name = '매출금액')

### 2-6-3. 분기별 데이터 연도 기준 변환

In [29]:
estimated_sales_year = estimated_sales.drop(columns = ['기준_년분기_코드'])\
                                      .groupby(['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명', '연령'])\
                                      .mean()\
                                      .reset_index()

In [30]:
estimated_sales_year

       상권_구분_코드_명       상권_코드_명 서비스_업종_코드_명      연령         매출금액
0            골목상권  4.19민주묘지역 2번         미용실     10대   136012.500
1            골목상권  4.19민주묘지역 2번         미용실     20대  3947675.500
2            골목상권  4.19민주묘지역 2번         미용실     30대  7595096.000
3            골목상권  4.19민주묘지역 2번         미용실     40대 13009877.000
4            골목상권  4.19민주묘지역 2번         미용실     50대  5901769.750
...           ...           ...         ...     ...          ...
132031       전통시장          흑석시장       한식음식점     20대 21435286.000
132032       전통시장          흑석시장       한식음식점     30대 21683765.250
132033       전통시장          흑석시장       한식음식점     40대 37320887.000
132034       전통시장          흑석시장       한식음식점     50대 45442558.250
132035       전통시장          흑석시장       한식음식점  60대 이상 42282770.250

[132036 rows x 5 columns]

## 2-7. 영역 전처리

### 2-7-1. 변수처리

In [31]:
area = area[['상권_구분_코드_명', '상권_코드_명', '자치구_코드_명']]

## 2-7. 데이터 병합

In [32]:
preprocessed_df = pd.merge(living_popul_year, resident_popul_year)
preprocessed_df = pd.merge(preprocessed_df, store_year)
preprocessed_df = pd.merge(preprocessed_df, working_popul_year)
preprocessed_df = pd.merge(preprocessed_df, facilitie_year)
preprocessed_df = pd.merge(preprocessed_df, estimated_sales_year)
preprocessed_df = pd.merge(preprocessed_df, area)

In [33]:
preprocessed_df

,상권_구분_코드_명,상권_코드_명,연령,유동인구수,상주인구수,서비스_업종_코드_명,유사_업종_점포_수,직장인구수,집객시설수,교통시설수,매출금액,자치구_코드_명
0,골목상권,4.19민주묘지역 2번,10대,128381.000,135,미용실,3,0,0.000,0.000,136012.500,강북구
1,골목상권,4.19민주묘지역 2번,10대,128381.000,135,분식전문점,3,0,0.000,0.000,2272384.000,강북구
2,골목상권,4.19민주묘지역 2번,10대,128381.000,135,일식음식점,3,0,0.000,0.000,561557.250,강북구
3,골목상권,4.19민주묘지역 2번,10대,128381.000,135,치킨전문점,3,0,0.000,0.000,208308.750,강북구
4,골목상권,4.19민주묘지역 2번,10대,128381.000,135,커피-음료,4,0,0.000,0.000,6104389.500,강북구
...,...,...,...,...,...,...,...,...,...,...,...,...
130051,전통시장,후암시장,60대 이상,33814.250,305,일반교습학원,3,19,0.000,0.000,0.000,용산구
130052,전통시장,후암시장,60대 이상,33814.250,305,일반의류,6,19,0.000,0.000,0.000,용산구
130053,전통시장,후암시장,60대 이상,33814.250,305,컴퓨터및주변장치판매,3,19,0.000,0.000,0.000,용산구
130054,전통시장,후암시장,60대 이상,33814.250,305,편의점,3,19,0.000,0.000,20101666.000,용산구
130055,전통시장,후암시장,60대 이상,33814.250,305,한식음식점,16,19,0.000,0.000,66308239.500,용산구