# 데이터 불러오기

In [24]:
import pandas as pd
import os

pd.options.display.float_format = '{:.3f}'.format
pd.set_option('display.max_columns', None)

PATH = './data/서울시 상권분석서비스(오탈자 수정)/'

file_list= os.listdir(PATH)
csv_list = list()

for file in file_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)
data = ['rent','small_rent','big_rent','living_popul','indicator','resident_popul', 'income','apartment', 'area', 'store', 'working_popul', 'facilitie', 'estimated_sales']

for name, file in zip(data, csv_list):
    if name == 'rent':
        globals()[name] = pd.read_csv(PATH + file, names = ['기준년코드', '기준분기코드', '행정동코드', '행정동코드명', '임대시세층구분코드', '임대시세층구분명', '보증금평균','월임대료평균','환산임대료평균','임대건수'],encoding = "ansi")
    else:
        globals()[name] = pd.read_csv(PATH + file, encoding = "ansi")

store = store.drop("Unnamed: 0", axis = 1)
estimated_sales = estimated_sales.drop("Unnamed: 0", axis = 1)

# 데이터 전처리

## 시점 통일

In [25]:
years = [20223, 20224, 20231, 20232]

living_popul = living_popul[living_popul['기준_년분기_코드'].isin(years)]
resident_popul = resident_popul[resident_popul['기준_년분기_코드'].isin(years)]
store = store[store['기준_년분기_코드'].isin(years)]
working_popul = working_popul[working_popul['기준_년분기_코드'].isin(years)]
facilitie = facilitie[facilitie['기준_년분기_코드'].isin(years)]
estimated_sales = estimated_sales[estimated_sales['기준_년분기_코드'].isin(years)]

## 길단위인구 전처리

### 파생변수 생성
1.시간대_21_06_유동인구_수
  - 21_00시 유동인구의 특징과 00_06시 유동인구의 특징이 비슷하다고 생각하여 합침

2.주중_유동인구_수
  - 월~금 유동인구 수의 합

3.주말_유동인구_수
  - 토,일 유동인구 수의 합

In [3]:
living_popul['시간대_21_06_유동인구_수'] = living_popul['시간대_00_06_유동인구_수'] + living_popul['시간대_21_24_유동인구_수']
living_popul['주중_유동인구_수'] = living_popul['월요일_유동인구_수'] + living_popul['화요일_유동인구_수'] + living_popul['수요일_유동인구_수'] + living_popul['목요일_유동인구_수'] + living_popul['금요일_유동인구_수']
living_popul['주말_유동인구_수'] = living_popul['토요일_유동인구_수'] + living_popul['일요일_유동인구_수']

### 불필요한 feature 제거
- 상권_구분_코드
- 상권_코드
- 월~일 유동인구 수
- 21~06시 유동인구수

In [4]:
living_popul = living_popul.drop(['상권_구분_코드','상권_코드','월요일_유동인구_수', '화요일_유동인구_수', '수요일_유동인구_수', '목요일_유동인구_수', '금요일_유동인구_수', '토요일_유동인구_수', '일요일_유동인구_수', '시간대_00_06_유동인구_수', '시간대_21_24_유동인구_수'], axis = 1)

### 결측치 확인 및 제거
- 결측치 없음

In [5]:
living_popul.isnull().sum()

기준_년분기_코드           0
상권_구분_코드_명          0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_06_유동인구_수    0
주중_유동인구_수           0
주말_유동인구_수           0
dtype: int64

### 이상치 확인 및 제거
- 총유동인구수 8백만명? 이상치인듯

In [6]:
living_popul.describe()

,기준_년분기_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_06_유동인구_수,주중_유동인구_수,주말_유동인구_수
count,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000,6597.000
mean,20227.499,831723.936,396454.429,435269.521,106249.107,148852.466,147395.794,134160.996,121115.739,173949.908,169196.692,107398.432,108468.099,144295.668,302365.121,600110.514,231613.502
std,4.032,900980.836,437696.274,466905.782,113447.145,216584.734,182996.722,151853.200,128640.435,182778.570,179874.328,134146.790,137040.744,167412.286,321245.522,660890.833,246084.966
min,20223.000,12.000,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000
25%,20223.000,221703.000,106884.000,113949.000,25620.000,32184.000,36292.000,36453.000,32922.000,45849.000,45807.000,28462.000,28587.000,38158.000,75590.000,159214.000,60098.000
50%,20224.000,568553.000,269829.000,297045.000,71540.000,82940.000,93288.000,90968.000,83512.000,120170.000,117002.000,72028.000,72359.000,96289.000,205750.000,406266.000,159173.000
75%,20231.000,1138476.000,537610.000,593960.000,147393.000,184525.000,190351.000,179976.000,167648.000,240410.000,234575.000,140269.000,140608.000,194982.000,417273.000,828500.000,314287.000
max,20232.000,8657826.000,4693188.000,4032096.000,829062.000,3487417.000,2024145.000,1667878.000,1555937.000,2009307.000,1678321.000,1853219.000,1861965.000,1793125.000,2942275.000,6833618.000,2124591.000

In [19]:
living_popul[living_popul['여성_유동인구_수'] == 0]

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_06_유동인구_수,주중_유동인구_수,주말_유동인구_수
702,20232,골목상권,헌인가구단지,15,15,0,0,15,0,0,0,0,9,5,1,0,0,15,0
2352,20231,골목상권,청계산원터골,12,12,0,0,0,0,0,0,12,4,8,0,0,0,0,12
4000,20224,골목상권,헌인가구단지,43,43,0,0,43,0,0,0,0,14,21,8,0,0,43,0

In [8]:
area[area['상권_코드_명']=='헌인가구단지']

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,자치구_코드,자치구_코드_명,행정동_코드,행정동_코드_명,영역_면적
955,A,골목상권,3110948,헌인가구단지,207939,439987,11650,서초구,11650660,내곡동,198674

In [28]:
drop_list = ['헌인가구단지','청계산원터골']
living_popul = living_popul[~living_popul['상권_코드_명'].isin(drop_list)]

In [29]:
living_popul.describe()

,기준_년분기_코드,상권_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
count,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000,6592.000
mean,20227.500,3115227.093,832354.434,396754.899,435599.550,106329.674,148965.342,147507.534,134262.677,121207.537,174081.744,199532.344,169324.923,107479.822,108550.304,144405.047,103062.070,119108.690,120175.212,120554.790,120558.280,120168.473,116733.269,115055.801
std,4.031,10324.498,901031.466,437726.198,466928.964,113452.424,216628.068,183021.114,151865.875,128646.007,182785.156,213574.206,179882.239,134165.090,137060.187,167428.635,109857.073,129253.693,132141.931,133063.560,133531.976,133200.781,125605.811,120906.981
min,20223.000,3001491.000,2208.000,1180.000,336.000,171.000,0.000,0.000,289.000,392.000,508.000,0.000,454.000,350.000,298.000,156.000,44.000,260.000,324.000,357.000,340.000,320.000,200.000,196.000
25%,20223.750,3110406.750,221944.750,107104.750,114677.500,25661.750,32221.500,36435.250,36561.250,33025.750,45946.000,48230.500,45986.500,28511.500,28704.000,38284.500,26147.750,31674.500,31813.750,31957.750,32042.500,31838.750,30642.750,29696.500
50%,20227.500,3110818.500,569426.000,270193.000,297292.500,71593.500,83095.500,93373.000,91013.000,83573.500,120242.000,132917.500,117016.000,72188.500,72446.000,96368.500,69991.500,81442.500,81673.500,81625.500,81317.500,81255.500,79957.500,79579.500
75%,20231.250,3120142.250,1139881.000,537663.250,595211.750,147670.000,184660.500,190569.250,180432.500,167700.750,240527.000,277825.500,234715.000,140328.000,140697.250,195004.250,140674.250,164928.250,166089.000,167224.500,166299.500,165254.750,157322.250,156711.500
max,20232.000,3130327.000,8657826.000,4693188.000,4032096.000,829062.000,3487417.000,2024145.000,1667878.000,1555937.000,2009307.000,2066410.000,1678321.000,1853219.000,1861965.000,1793125.000,932288.000,1305495.000,1381468.000,1393885.000,1401446.000,1396973.000,1121321.000,1072841.000

In [30]:
living_popul[living_popul['연령대_20_유동인구_수'] == 0]

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
648,20232,A,골목상권,3111002,한국교통안전공단 강남자동차검사소,2232,1896,336,200,0,0,680,540,812,0,724,616,660,188,44,336,376,388,400,336,200,196
2297,20231,A,골목상권,3111002,한국교통안전공단 강남자동차검사소,2308,1904,404,448,0,0,496,596,768,0,644,616,736,240,72,344,324,412,364,412,208,244
3946,20224,A,골목상권,3111002,한국교통안전공단 강남자동차검사소,2208,1696,512,336,0,0,492,528,852,0,656,580,668,220,84,260,388,364,340,320,232,304

In [31]:
drop_list = ['한국교통안전공단 강남자동차검사소']
living_popul = living_popul[~living_popul['상권_코드_명'].isin(drop_list)]

In [32]:
living_popul.describe()

,기준_년분기_코드,상권_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
count,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000,6588.000
mean,20227.500,3115229.658,832858.038,396994.531,435863.521,106393.944,149055.728,147596.993,134343.804,121280.745,174186.898,199653.395,169427.274,107544.679,108615.756,144492.479,103124.529,119180.774,120247.901,120627.695,120631.196,120241.172,116803.940,115125.440
std,4.031,10327.107,901073.073,437750.989,466947.750,113456.866,216662.759,183040.647,151876.269,128650.735,182790.801,213582.510,179888.862,134179.986,137076.042,167441.842,109861.162,129259.807,132149.101,133071.043,133539.706,133208.524,125611.179,120910.635
min,20223.000,3001491.000,2412.000,1180.000,1086.000,171.000,57.000,38.000,289.000,392.000,508.000,236.000,454.000,350.000,298.000,156.000,164.000,358.000,368.000,357.000,349.000,354.000,350.000,257.000
25%,20223.750,3110406.000,223100.250,107382.250,115069.500,25708.750,32334.250,36631.750,36748.250,33085.250,46091.000,48326.000,46082.750,28561.000,28773.250,38324.250,26202.250,31759.250,31962.750,32083.750,32084.000,31945.000,30716.000,29741.250
50%,20227.500,3110818.000,569686.000,270305.500,297377.000,71625.500,83144.500,93469.000,91078.500,83658.000,120378.500,133072.000,117055.000,72287.500,72632.500,96502.000,70117.500,81501.000,81721.500,81819.500,81422.000,81317.000,80031.000,79654.500
75%,20231.250,3120143.000,1140100.500,537673.750,595809.750,147759.000,184898.500,190695.000,180467.250,167755.000,240585.250,277920.000,234930.500,140484.000,140719.250,195039.750,140719.000,164976.250,166115.000,167290.750,166778.750,165368.500,157436.750,156908.250
max,20232.000,3130327.000,8657826.000,4693188.000,4032096.000,829062.000,3487417.000,2024145.000,1667878.000,1555937.000,2009307.000,2066410.000,1678321.000,1853219.000,1861965.000,1793125.000,932288.000,1305495.000,1381468.000,1393885.000,1401446.000,1396973.000,1121321.000,1072841.000

In [34]:
living_popul[living_popul['총_유동인구_수'] > 7000000]

,기준_년분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
2,20232,U,관광특구,3001494,종로·청계 관광특구,8580607,4570612,4009996,322394,1490540,1649310,1625177,1528185,1965000,880985,1678321,1815991,1823148,1715164,666997,1305495,1351576,1393885,1401446,1371576,998401,758227
4,20232,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,7258225,3500135,3758090,304018,1221932,1764290,1635316,1174656,1158013,406335,1528984,1820261,1785956,1355004,361685,1104058,1189462,1242379,1237291,1174209,733393,577432
371,20232,D,발달상권,3120189,강남역,7823728,3955268,3868460,769592,2195122,2024145,1406941,784087,643841,970217,1476879,1408434,1453614,1726038,788548,1152231,1211168,1250178,1265723,1252864,956079,735485
466,20232,D,발달상권,3120094,"신촌역(신촌역, 신촌로터리)",7280557,3248459,4032096,797975,3487417,1133647,668219,549830,643468,1285465,1254635,1041957,1108082,1658129,932288,995707,1013201,1025897,1038732,1082427,1121321,1003270
1651,20231,U,관광특구,3001494,종로·청계 관광특구,8502972,4590859,3912112,351982,1513170,1606018,1602118,1515462,1914224,855100,1614425,1819068,1856681,1707645,650054,1296243,1339484,1351829,1392225,1377047,1009101,737044
1653,20231,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,7334315,3588578,3745738,317233,1266022,1793576,1648217,1171566,1137703,432967,1526756,1814899,1808164,1377142,374389,1144424,1199754,1200975,1248387,1209872,762858,568045
2020,20231,D,발달상권,3120189,강남역,7942915,4000287,3942628,816174,2253035,2021207,1412213,787438,652848,963989,1455555,1429461,1491003,1793125,809780,1185229,1238518,1236835,1279921,1296327,983786,722300
2642,20231,A,골목상권,3110656,까치산역 3번,7012938,3305441,3707497,605814,1273343,1533725,1136200,886534,1577319,2066410,1529921,757403,731697,1051641,875865,985368,988658,984150,970849,971426,1039645,1072841
3300,20224,U,관광특구,3001494,종로·청계 관광특구,8657826,4693188,3964638,334742,1500979,1638219,1618642,1555937,2009307,903657,1653054,1825114,1861965,1729022,685015,1272457,1381468,1386192,1396528,1396973,1047401,776808
3302,20224,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,7629595,3717728,3911867,365427,1301955,1839034,1667878,1216256,1239044,481664,1556366,1853219,1851308,1478804,408233,1103048,1241705,1251450,1267499,1240066,864591,661235
3669,20224,D,발달상권,3120189,강남역,7583199,3831656,3751543,637590,2171256,1983085,1365821,770803,654644,977243,1405780,1349393,1399357,1675710,775716,1082076,1191655,1192677,1202458,1228459,949335,736540
4949,20223,U,관광특구,3001494,종로·청계 관광특구,8404013,4539128,3864885,340339,1520427,1570826,1539426,1488320,1944675,889136,1649452,1760392,1779580,1663007,662448,1239237,1339952,1366441,1382933,1345499,981052,748900
4951,20223,U,관광특구,3001492,명동 남대문 북창동 다동 무교동 관광특구,7090255,3504520,3585735,307572,1231736,1719526,1553032,1138745,1139642,495859,1538722,1725488,1680724,1269259,380203,1060585,1173910,1200541,1202165,1142708,732669,577677
5318,20223,D,발달상권,3120189,강남역,7646153,3831086,3815067,781320,2260565,1908157,1319096,751565,625450,981608,1427290,1364446,1416364,1681859,774586,1112800,1202073,1223167,1228318,1218100,930226,731468

### 중복행 확인 및 제거
- 중복행 없음

In [38]:
living_popul[living_popul.duplicated()]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드_명, 상권_코드_명, 총_유동인구_수, 남성_유동인구_수, 여성_유동인구_수, 연령대_10_유동인구_수, 연령대_20_유동인구_수, 연령대_30_유동인구_수, 연령대_40_유동인구_수, 연령대_50_유동인구_수, 연령대_60_이상_유동인구_수, 시간대_06_11_유동인구_수, 시간대_11_14_유동인구_수, 시간대_14_17_유동인구_수, 시간대_17_21_유동인구_수, 시간대_21_06_유동인구_수, 주중_유동인구_수, 주말_유동인구_수]
Index: []

### 분기데이터 1년치 데이터로 변환
- 유동인구 -> 4개 분기의 평균

In [36]:
living_popul_year = living_popul.groupby(['상권_구분_코드_명','상권_코드_명'],as_index=False).mean()
living_popul_year = living_popul_year.drop('기준_년분기_코드', axis = 1)

## 상주인구 전처리

### 불필요한 feature 제거
- 상권_구분_코드
- 상권_코드
- 총 상주인구 수
- 남성 상주인구 수
- 여성 상주인구 수
- 연령대 10 ~ 60 이상상주인구 수
- 총 가구 수, 아파트 가구 수, 비아파트 가구수

In [39]:
resident_popul.drop(['상권_구분_코드','상권_코드','총_상주인구_수','남성_상주인구_수','여성_상주인구_수','연령대_10_상주인구_수','연령대_20_상주인구_수','연령대_30_상주인구_수','연령대_40_상주인구_수','연령대_50_상주인구_수','연령대_60_이상_상주인구_수','총_가구_수','아파트_가구_수','비_아파트_가구_수'],axis=1,inplace=True)

### 결측치 확인 및 제거
- 결측치 없음

In [40]:
resident_popul.isnull().sum()

기준_년분기_코드             0
상권_구분_코드_명            0
상권_코드_명               0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
dtype: int64

### 이상치 확인 및 제거
- 이상치가 없다고 판단됨

In [41]:
resident_popul.describe()

,기준_년분기_코드,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수
count,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000,6512.000
mean,20227.495,118.175,147.964,210.038,193.310,188.114,309.056,111.979,152.207,206.473,179.830,184.968,358.887
std,4.032,134.548,165.438,231.487,204.475,187.631,305.688,128.133,179.216,231.099,193.030,190.433,359.223
min,20223.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20223.000,26.000,34.000,52.000,50.000,51.000,84.000,25.000,35.000,49.000,44.000,47.000,95.000
50%,20224.000,75.500,95.000,138.000,127.000,130.000,213.000,71.000,96.000,135.000,118.000,124.000,247.000
75%,20231.000,164.000,208.000,290.000,270.000,266.000,434.000,155.000,207.000,285.250,249.000,263.250,507.000
max,20232.000,1586.000,2161.000,2148.000,2235.000,1577.000,2260.000,1492.000,2812.000,2070.000,2045.000,1584.000,2921.000

### 중복행 확인 및 제거
- 중복행 없음

In [42]:
resident_popul[resident_popul.duplicated()]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드_명, 상권_코드_명, 남성연령대_10_상주인구_수, 남성연령대_20_상주인구_수, 남성연령대_30_상주인구_수, 남성연령대_40_상주인구_수, 남성연령대_50_상주인구_수, 남성연령대_60_이상_상주인구_수, 여성연령대_10_상주인구_수, 여성연령대_20_상주인구_수, 여성연령대_30_상주인구_수, 여성연령대_40_상주인구_수, 여성연령대_50_상주인구_수, 여성연령대_60_이상_상주인구_수]
Index: []

### 분기데이터 1년치 데이터로 변환
- 마지막 분기인 2023년 2분기의 상주인구만 추출

In [43]:
resident_popul_year = resident_popul[resident_popul['기준_년분기_코드'] == 20232]
resident_popul_year = resident_popul_year.drop(['기준_년분기_코드'],axis=1)

## 점포 전처리

### 불필요한 feature 제거
- 상권_구분_코드
- 상권_코드

In [49]:
store.drop(['상권_구분_코드','상권_코드',],axis=1)

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
1055496,20223,골목상권,덕산중학교,CS200043,건축물청소,1,1,0,0,0,0,0
1055497,20223,전통시장,수유중앙골목시장(수유중앙시장),CS100009,호프-간이주점,3,3,0,0,0,0,0
1055498,20223,발달상권,서울시흥동우체국(홈플러스시흥점),CS100010,커피-음료,5,9,0,0,0,0,4
1055499,20223,골목상권,문정역 1번,CS100002,중식음식점,3,3,0,0,0,0,0
1055500,20223,골목상권,언북초등학교,CS300029,애완동물,2,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1360265,20232,전통시장,"평화시장(남평화시장, 제일평화시장, 신평화패션타운)",CS300024,운동/경기용품,7,7,0,0,0,0,0
1360266,20232,전통시장,"평화시장(남평화시장, 제일평화시장, 신평화패션타운)",CS300027,섬유제품,10,10,0,0,0,0,0
1360267,20232,전통시장,"평화시장(남평화시장, 제일평화시장, 신평화패션타운)",CS300029,애완동물,1,1,0,0,0,0,0
1360268,20232,전통시장,"평화시장(남평화시장, 제일평화시장, 신평화패션타운)",CS300035,인테리어,2,2,0,0,0,0,0
1360269,20232,전통시장,"평화시장(남평화시장, 제일평화시장, 신평화패션타운)",CS300043,전자상거래업,11,11,0,0,0,0,0

### 중복행 확인 및 제거
- 중복행 없음

In [50]:
store[store.duplicated()]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 점포_수, 유사_업종_점포_수, 개업_율, 개업_점포_수, 폐업_률, 폐업_점포_수, 프랜차이즈_점포_수]
Index: []

### 결측치 확인 및 제거
- 결측치 없음

In [51]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드       0
상권_구분_코드_명     0
상권_코드          0
상권_코드_명        0
서비스_업종_코드      0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

### 이상치 확인 및 제거
- 점포수 -> 8500개? 이상치 인듯?

In [52]:
store_year.describe()

,상권_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
count,76099.000,76099.000,76099.000,76099.000,76099.000,76099.000,76099.000,76099.000
mean,3114873.204,6.019,6.464,2.503,0.153,2.367,0.168,0.445
std,11730.472,41.496,41.876,11.382,0.667,11.330,0.899,2.220
min,3001491.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,3110436.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000
50%,3110871.000,2.000,2.000,0.000,0.000,0.000,0.000,0.000
75%,3120141.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000
max,3130327.000,8493.000,8509.000,200.000,23.000,200.000,146.000,127.000

### 분기데이터 1년치 데이터로 변환
- 마지막 분기인 2023년 2분기의 데이터만 추출

In [53]:
store_year = store[store['기준_년분기_코드'] == 20232]
store_year = store_year.drop(columns = ['기준_년분기_코드'])

## 직장인구 전처리

### 필요한 컬럼만 추출
- 기준_년분기_코드
- 상권_구분_코드_명
- 상권_코드_명
- 총_직장_인구_수

In [54]:
working_popul = working_popul[['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '총_직장_인구_수']]

### 결측치 확인 및 제거
- 결측치 없음

In [57]:
working_popul.isnull().sum()

기준_년분기_코드     0
상권_구분_코드_명    0
상권_코드_명       0
총_직장_인구_수     0
dtype: int64

### 이상치 확인 및 제거
- 이상치 없음

In [58]:
working_popul.describe()

       기준_년분기_코드  총_직장_인구_수
count   6492.000   6492.000
mean   20227.500   1771.425
std        4.031   6246.210
min    20223.000      1.000
25%    20223.750    107.000
50%    20227.500    317.000
75%    20231.250    892.000
max    20232.000 104830.000

### 중복행 확인 및 제거
- 중복행 없음

In [59]:
working_popul[working_popul.duplicated()]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드_명, 상권_코드_명, 총_직장_인구_수]
Index: []

### 분기데이터 1년치 데이터로 변환
- 마지막 분기인 2023년 2분기의 데이터만 추출

In [60]:
working_popul_year = working_popul[working_popul['기준_년분기_코드'] == 20232]
working_popul_year = working_popul_year.drop(['기준_년분기_코드'],axis=1)

## 집객시설 전처리

### 불필요한 feature 제거
- 상권_구분_코드
- 상권_코드
- 집객시설_수

In [62]:
facilitie.drop(['상권_구분_코드','상권_코드','집객시설_수'],axis=1)

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,20232,골목상권,동묘앞역 2번,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,NaN,NaN,NaN,NaN,4.000
1,20232,골목상권,목동로데오거리,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20231,골목상권,동묘앞역 2번,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,NaN,NaN,NaN,NaN,4.000
3,20232,골목상권,청운초등학교,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000
4,20231,골목상권,청운초등학교,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17353,20231,관광특구,종로·청계 관광특구,5.000,17.000,NaN,NaN,32.000,NaN,NaN,NaN,NaN,NaN,NaN,5.000,2.000,15.000,NaN,NaN,NaN,3.000,28.000
17354,20232,관광특구,잠실 관광특구,3.000,13.000,NaN,NaN,14.000,NaN,1.000,NaN,NaN,NaN,NaN,NaN,1.000,NaN,NaN,NaN,NaN,3.000,20.000
17355,20231,관광특구,잠실 관광특구,3.000,13.000,NaN,NaN,14.000,NaN,1.000,NaN,NaN,NaN,NaN,NaN,1.000,NaN,NaN,NaN,NaN,3.000,20.000
17356,20232,관광특구,강남 마이스 관광특구,1.000,8.000,NaN,NaN,3.000,NaN,NaN,NaN,NaN,NaN,1.000,NaN,1.000,NaN,NaN,NaN,NaN,NaN,8.000
17357,20231,관광특구,강남 마이스 관광특구,1.000,8.000,NaN,NaN,3.000,NaN,NaN,NaN,NaN,NaN,1.000,NaN,1.000,NaN,NaN,NaN,NaN,NaN,8.000

### 결측치 확인 및 제거
- 결측치 -> 0으로 처리

In [63]:
facilitie.isnull().sum()

기준_년분기_코드        0
상권_구분_코드         0
상권_구분_코드_명       0
상권_코드            0
상권_코드_명          0
집객시설_수           0
관공서_수         3792
은행_수          4364
종합병원_수        6220
일반_병원_수       5784
약국_수          2276
유치원_수         5708
초등학교_수        6260
중학교_수         6296
고등학교_수        6268
대학교_수         5976
백화점_수         6268
슈퍼마켓_수        5892
극장_수          5976
숙박_시설_수       5732
공항_수          6308
철도_역_수        6312
버스_터미널_수      6304
지하철_역_수       5532
버스_정거장_수      1232
dtype: int64

In [66]:
facilitie = facilitie.fillna(0)
facilitie.isnull().sum()

기준_년분기_코드     0
상권_구분_코드      0
상권_구분_코드_명    0
상권_코드         0
상권_코드_명       0
집객시설_수        0
관공서_수         0
은행_수          0
종합병원_수        0
일반_병원_수       0
약국_수          0
유치원_수         0
초등학교_수        0
중학교_수         0
고등학교_수        0
대학교_수         0
백화점_수         0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
공항_수          0
철도_역_수        0
버스_터미널_수      0
지하철_역_수       0
버스_정거장_수      0
dtype: int64

In [220]:
facilitie = facilitie.drop('집객시설_수', axis = 1)
facilitie = facilitie.fillna(0)

# facilitie_year = facilitie[facilitie['기준_년분기_코드'] == 20232]
# facilitie_year = facilitie_year.drop('기준_년분기_코드', axis = 1)

### 이상치 확인 및 제거
- 은행 52개 버스정거장수 85 집객 시설 수 594개 이상한데

In [68]:
facilitie.describe()

,기준_년분기_코드,상권_코드,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
count,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000,6312.000
mean,20227.500,3115009.244,20.871,0.695,1.015,0.015,0.107,2.359,0.112,0.008,0.003,0.008,0.087,0.008,0.102,0.072,0.213,0.003,0.000,0.001,0.176,3.896
std,4.031,10294.271,32.262,1.172,3.010,0.127,0.396,4.034,0.385,0.090,0.050,0.109,0.466,0.094,0.495,0.352,1.027,0.101,0.000,0.036,0.535,4.959
min,20223.000,3001491.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20223.750,3110400.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000
50%,20227.500,3110802.500,12.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000
75%,20231.250,3120126.000,23.000,1.000,1.000,0.000,0.000,3.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,5.000
max,20232.000,3130327.000,594.000,14.000,57.000,2.000,4.000,52.000,6.000,1.000,1.000,3.000,7.000,2.000,8.000,5.000,18.000,4.000,0.000,1.000,5.000,85.000

### 중복행 확인 및 제거
- 중복행 없음

In [69]:
facilitie[facilitie.duplicated()]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 집객시설_수, 관공서_수, 은행_수, 종합병원_수, 일반_병원_수, 약국_수, 유치원_수, 초등학교_수, 중학교_수, 고등학교_수, 대학교_수, 백화점_수, 슈퍼마켓_수, 극장_수, 숙박_시설_수, 공항_수, 철도_역_수, 버스_터미널_수, 지하철_역_수, 버스_정거장_수]
Index: []

### 분기데이터 1년치 데이터로 변환
- 마지막 분기인 2023년 2분기의 데이터만 추출

In [70]:
facilitie_year = facilitie[facilitie['기준_년분기_코드'] == 20232]
facilitie_year = facilitie_year.drop(['기준_년분기_코드'],axis=1)

## 추정매출 전처리

### 파생변수 생성
1.시간대_21_06_매출_건수, 시간대_21_06_매출_금액
- 21_00시 유동인구의 특징과 00_06시 유동인구의 특징이 비슷하다고 판단함

2.건당 매출금액
- 건당 매출금액이 중요한 지표일 것이라고 생각하여 파생변수 생성

In [91]:
estimated_sales['시간대_21~06_매출_금액'] = estimated_sales['시간대_00~06_매출_금액'] + estimated_sales['시간대_21~24_매출_금액']
estimated_sales['시간대_21~06_매출_건수'] = estimated_sales['시간대_건수~06_매출_건수'] + estimated_sales['시간대_건수~24_매출_건수']

# 건당 매출 금액 컬럼 생성
estimated_sales['주말_건당_매출_금액'] = estimated_sales[(estimated_sales['주말_매출_금액'] != 0) & (estimated_sales['주말_매출_건수'] != 0 )]['주말_매출_금액'] / estimated_sales[(estimated_sales['주말_매출_금액'] != 0) & (estimated_sales['주말_매출_건수'] != 0) ]['주말_매출_건수']
estimated_sales['당월_건당_매출_금액'] = estimated_sales[(estimated_sales['당월_매출_금액'] != 0) & (estimated_sales['당월_매출_건수'] != 0 )]['당월_매출_금액'] / estimated_sales[(estimated_sales['당월_매출_금액'] != 0) & (estimated_sales['당월_매출_건수'] != 0 )]['당월_매출_건수']
estimated_sales['주중_건당_매출_금액'] = estimated_sales[(estimated_sales['주중_매출_금액'] != 0) & (estimated_sales['주중_매출_건수'] != 0 )]['주중_매출_금액'] / estimated_sales[(estimated_sales['주중_매출_금액'] != 0) & (estimated_sales['주중_매출_건수'] != 0 )]['주중_매출_건수']

estimated_sales['시간대_21~06_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_21~06_매출_금액'] != 0) & (estimated_sales['시간대_21~06_매출_건수'] != 0) ]['시간대_21~06_매출_금액'] / estimated_sales[(estimated_sales['시간대_21~06_매출_금액'] != 0) & (estimated_sales['시간대_21~06_매출_건수'] != 0 )]['시간대_21~06_매출_건수']
estimated_sales['시간대_06~11_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_06~11_매출_금액'] != 0) & (estimated_sales['시간대_건수~11_매출_건수'] != 0) ]['시간대_06~11_매출_금액'] / estimated_sales[(estimated_sales['시간대_06~11_매출_금액'] != 0) & (estimated_sales['시간대_건수~11_매출_건수'] != 0) ]['시간대_건수~11_매출_건수']
estimated_sales['시간대_11~14_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_11~14_매출_금액'] != 0) & (estimated_sales['시간대_건수~14_매출_건수'] != 0) ]['시간대_11~14_매출_금액'] / estimated_sales[(estimated_sales['시간대_11~14_매출_금액'] != 0) & (estimated_sales['시간대_건수~14_매출_건수'] != 0 )]['시간대_건수~14_매출_건수']
estimated_sales['시간대_14~17_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_14~17_매출_금액'] != 0) & (estimated_sales['시간대_건수~17_매출_건수'] != 0) ]['시간대_14~17_매출_금액'] / estimated_sales[(estimated_sales['시간대_14~17_매출_금액'] != 0) & (estimated_sales['시간대_건수~17_매출_건수'] != 0) ]['시간대_건수~17_매출_건수']
estimated_sales['시간대_17~21_건당_매출_금액'] =  estimated_sales[(estimated_sales['시간대_17~21_매출_금액'] != 0) & (estimated_sales['시간대_건수~21_매출_건수'] != 0) ]['시간대_17~21_매출_금액'] / estimated_sales[(estimated_sales['시간대_17~21_매출_금액'] != 0) & (estimated_sales['시간대_건수~21_매출_건수'] != 0 )]['시간대_건수~21_매출_건수']

estimated_sales['남성_건당_매출_금액'] = estimated_sales[(estimated_sales['남성_매출_금액'] != 0) & (estimated_sales['남성_매출_건수'] != 0)]['남성_매출_금액'] / estimated_sales[(estimated_sales['남성_매출_금액'] != 0) & (estimated_sales['남성_매출_건수'] != 0)]['남성_매출_건수']
estimated_sales['여성_건당_매출_금액'] = estimated_sales[(estimated_sales['여성_매출_금액'] != 0) & (estimated_sales['여성_매출_건수'] != 0)]['여성_매출_금액'] / estimated_sales[(estimated_sales['여성_매출_금액'] != 0) & (estimated_sales['여성_매출_건수'] != 0)]['여성_매출_건수']

estimated_sales['연령대_10_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_10_매출_금액'] != 0) & (estimated_sales['연령대_10_매출_건수'] != 0)]['연령대_10_매출_금액'] / estimated_sales[(estimated_sales['연령대_10_매출_금액'] != 0) & (estimated_sales['연령대_10_매출_건수'] != 0)]['연령대_10_매출_건수']
estimated_sales['연령대_20_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_20_매출_금액'] != 0) & (estimated_sales['연령대_20_매출_건수'] != 0)]['연령대_20_매출_금액'] / estimated_sales[(estimated_sales['연령대_20_매출_금액'] != 0) & (estimated_sales['연령대_20_매출_건수'] != 0)]['연령대_20_매출_건수']
estimated_sales['연령대_30_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_30_매출_금액'] != 0) & (estimated_sales['연령대_30_매출_건수'] != 0)]['연령대_30_매출_금액'] / estimated_sales[(estimated_sales['연령대_30_매출_금액'] != 0) & (estimated_sales['연령대_30_매출_건수'] != 0)]['연령대_30_매출_건수']
estimated_sales['연령대_40_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_40_매출_금액'] != 0) & (estimated_sales['연령대_40_매출_건수'] != 0)]['연령대_40_매출_금액'] / estimated_sales[(estimated_sales['연령대_40_매출_금액'] != 0) & (estimated_sales['연령대_40_매출_건수'] != 0)]['연령대_40_매출_건수']
estimated_sales['연령대_50_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_50_매출_금액'] != 0) & (estimated_sales['연령대_50_매출_건수'] != 0)]['연령대_50_매출_금액'] / estimated_sales[(estimated_sales['연령대_50_매출_금액'] != 0) & (estimated_sales['연령대_50_매출_건수'] != 0)]['연령대_50_매출_건수']
estimated_sales['연령대_60_이상_건당_매출_금액'] = estimated_sales[(estimated_sales['연령대_60_이상_매출_금액'] != 0) & (estimated_sales['연령대_60_이상_매출_건수'] != 0)]['연령대_60_이상_매출_금액'] / estimated_sales[(estimated_sales['연령대_60_이상_매출_금액'] != 0) & (estimated_sales['연령대_60_이상_매출_건수'] != 0)]['연령대_60_이상_매출_건수']

### 불필요한 feature제거
- 상권_구분_코드- 
상권_코
- 서비스_업종_코드
- 21~06 매출금액, 매출건수
- 월~일 매출금액, 매출건수드

In [92]:
estimated_sales = estimated_sales.drop(columns = ['월요일_매출_금액', '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액', '일요일_매출_금액',
                                                  '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수', '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수'],
                                       axis = 1)
estimated_sales = estimated_sales.drop(columns = ['시간대_00~06_매출_금액', '시간대_21~24_매출_금액', '시간대_건수~06_매출_건수', '시간대_건수~24_매출_건수'],
                                       axis = 1)

### 결측치 확인 및 제거
- 결측치 어떻게 처리하지

In [93]:
estimated_sales.isnull().sum()

기준_년분기_코드                 0
상권_구분_코드                  0
상권_구분_코드_명                0
상권_코드                     0
상권_코드_명                   0
서비스_업종_코드                 0
서비스_업종_코드_명               0
당월_매출_금액                  0
당월_매출_건수                  0
주중_매출_금액                  0
주말_매출_금액                  0
시간대_06~11_매출_금액           0
시간대_11~14_매출_금액           0
시간대_14~17_매출_금액           0
시간대_17~21_매출_금액           0
남성_매출_금액                  0
여성_매출_금액                  0
연령대_10_매출_금액              0
연령대_20_매출_금액              0
연령대_30_매출_금액              0
연령대_40_매출_금액              0
연령대_50_매출_금액              0
연령대_60_이상_매출_금액           0
주중_매출_건수                  0
주말_매출_건수                  0
시간대_건수~11_매출_건수           0
시간대_건수~14_매출_건수           0
시간대_건수~17_매출_건수           0
시간대_건수~21_매출_건수           0
남성_매출_건수                  0
여성_매출_건수                  0
연령대_10_매출_건수              0
연령대_20_매출_건수              0
연령대_30_매출_건수              0
연령대_40_매출_건수              0
연령대_50_매출_건수              0
연령대_60_이상_매출_건수           0
시간대_21~06_매출_금액           0
시간대_21~06_매출_건수           0
주말_건당_매출_금액            6864
당월_건당_매출_금액               0
주중_건당_매출_금액             369
시간대_21~06_건당_매출_금액    27794
시간대_06~11_건당_매출_금액    19358
시간대_11~14_건당_매출_금액     7531
시간대_14~17_건당_매출_금액     3959
시간대_17~21_건당_매출_금액     3605
남성_건당_매출_금액            2310
여성_건당_매출_금액            1786
연령대_10_건당_매출_금액       36555
연령대_20_건당_매출_금액       12597
연령대_30_건당_매출_금액        6669
연령대_40_건당_매출_금액        4514
연령대_50_건당_매출_금액        4457
연령대_60_이상_건당_매출_금액     7302
dtype: int64

### 이상치 확인 및 제거
- 당원매출금액 천억 이상치인듯

In [86]:
estimated_sales.describe()

,기준_년분기_코드,상권_코드,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,시간대_21~06_매출_금액,시간대_21~06_매출_건수,주말_건당_매출_금액,당월_건당_매출_금액,주중_건당_매출_금액,시간대_21~06_건당_매출_금액,시간대_06~11_건당_매출_금액,시간대_11~14_건당_매출_금액,시간대_14~17_건당_매출_금액,시간대_17~21_건당_매출_금액,남성_건당_매출_금액,여성_건당_매출_금액,연령대_10_건당_매출_금액,연령대_20_건당_매출_금액,연령대_30_건당_매출_금액,연령대_40_건당_매출_금액,연령대_50_건당_매출_금액,연령대_60_이상_건당_매출_금액
count,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,84143.000,77279.000,84143.000,83774.000,56349.000,64785.000,76612.000,80184.000,80538.000,81833.000,82357.000,47588.000,71546.000,77474.000,79629.000,79686.000,76841.000
mean,20227.506,3115479.183,1116599271.468,39184.849,842969184.583,273630043.386,116413408.602,286186909.051,280424841.016,306646276.190,506115717.968,483588097.551,5734552.208,135382675.504,205194817.011,226270032.281,217404282.219,199715248.466,29499.636,9685.213,5416.564,10204.191,8307.715,10443.374,19337.490,18168.507,577.372,7898.857,9086.808,7468.793,6750.112,5724.053,126927760.944,4813.006,83132.047,109621.121,109041.418,93690.484,93743.594,98326.290,100626.167,96620.709,102187.413,97906.973,23466.790,57017.362,81133.588,98027.470,102809.128,95077.685
std,4.031,14347.760,9371981938.469,168454.273,6458423614.170,3509552781.251,1172352096.256,2477461950.285,3124214644.465,2771104568.472,4449083121.756,3616311150.276,31894990.608,909570386.425,1708256766.645,1844309119.926,1920483460.460,1994032159.984,117929.298,57711.259,29263.631,45978.917,44186.686,47735.342,83502.247,83244.346,3617.461,42063.066,42550.800,32101.841,28616.901,35747.100,1000325381.326,23992.316,228405.297,331781.307,324431.012,239620.241,445048.339,322100.088,346651.970,306060.891,351204.358,277196.776,59250.907,203798.638,267730.902,314884.804,334354.107,503888.622
min,20223.000,3001491.000,12.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,1.000,1.000,1.000,1.000,1.000,-144509.000,1.000,1.000,9.833,10.091,1.000,1.000,1.000,9.741,3.000
25%,20224.000,3110547.000,48560077.000,868.000,36205605.500,7456979.500,145574.500,5491691.000,7869005.500,11816467.500,19597595.500,18111528.500,0.000,1369387.500,4899653.000,8000895.000,8424536.000,4355162.000,654.000,153.000,7.000,109.000,173.000,226.000,390.000,342.000,0.000,43.000,115.000,170.500,167.000,100.000,0.000,0.000,13796.053,15043.424,14829.540,11398.980,10440.423,12987.548,13593.591,13385.873,13837.129,13489.028,5788.062,9265.385,11262.564,13211.440,14123.821,14226.924
50%,20231.000,3111085.000,188164542.000,4646.000,140846234.000,38302621.000,6268042.000,34963031.000,36234148.000,50583967.000,84295031.000,75951653.000,166368.000,12428462.000,26992718.000,36596239.000,36308017.000,22326341.000,3446.000,1036.000,169.000,985.000,983.000,1304.000,2286.000,1968.000,12.000,446.000,796.000,910.000,936.000,621.000,4061538.000,77.000,30379.970,33330.238,32587.181,35715.773,20028.121,25417.260,28107.967,31259.496,28974.456,30823.493,11102.329,20282.307,25799.753,29738.885,30278.494,29165.246
75%,20232.000,3120185.000,686193977.000,25492.500,520555159.000,150576100.000,48504462.500,153603359.000,143040793.500,186412033.000,314344883.500,290361639.500,2273891.500,64077848.500,114128620.000,136065461.500,132552681.000,98029973.500,19055.500,5839.500,1996.000,6405.500,5206.500,6992.500,12096.000,11579.000,174.000,3306.000,4845.500,4833.000,4731.500,3523.500,51155789.000,1497.000,67503.758,91892.818,91393.093,81064.218,58389.830,69939.543,77748.635,76644.914,77807.355,77595.430,22556.146,43082.098,59023.138,76601.734,78592.973,67687.754
max,20232.000,3130327.000,995677000000.000,12090273.000,669799000000.000,485357000000.000,107916000000.000,242249000000.000,326543000000.000,386343000000.000,537243000000.000,304162000000.000,1549259735.000,90669553834.000,185968000000.000,168379000000.000,179689000000.000,238248000000.000,5827863.000,6262410.000,1474148.000,2611826.000,3245770.000,4287338.000,6708993.000,4615812.000,329040.000,3087414.000,2413132.000,2106826.000,2297953.000,3188920.000,126314287024.000,1514884.000,19671457.896,27447230.947,27447230.947,19555555.667,56064225.231,23291042.833,27447230.947,21438295.142,27447230.947,14000000.000,4787225.500,29928546.065,18138461.538,18989769.821,27447230.947,95937160.600

### 중복행 확인 및 제거
- 중복행 없음

In [87]:
estimated_sales[estimated_sales.duplicated()]

Empty DataFrame
Columns: [기준_년분기_코드, 상권_구분_코드, 상권_구분_코드_명, 상권_코드, 상권_코드_명, 서비스_업종_코드, 서비스_업종_코드_명, 당월_매출_금액, 당월_매출_건수, 주중_매출_금액, 주말_매출_금액, 시간대_06~11_매출_금액, 시간대_11~14_매출_금액, 시간대_14~17_매출_금액, 시간대_17~21_매출_금액, 남성_매출_금액, 여성_매출_금액, 연령대_10_매출_금액, 연령대_20_매출_금액, 연령대_30_매출_금액, 연령대_40_매출_금액, 연령대_50_매출_금액, 연령대_60_이상_매출_금액, 주중_매출_건수, 주말_매출_건수, 시간대_건수~11_매출_건수, 시간대_건수~14_매출_건수, 시간대_건수~17_매출_건수, 시간대_건수~21_매출_건수, 남성_매출_건수, 여성_매출_건수, 연령대_10_매출_건수, 연령대_20_매출_건수, 연령대_30_매출_건수, 연령대_40_매출_건수, 연령대_50_매출_건수, 연령대_60_이상_매출_건수, 시간대_21~06_매출_금액, 시간대_21~06_매출_건수, 주말_건당_매출_금액, 당월_건당_매출_금액, 주중_건당_매출_금액, 시간대_21~06_건당_매출_금액, 시간대_06~11_건당_매출_금액, 시간대_11~14_건당_매출_금액, 시간대_14~17_건당_매출_금액, 시간대_17~21_건당_매출_금액, 남성_건당_매출_금액, 여성_건당_매출_금액, 연령대_10_건당_매출_금액, 연령대_20_건당_매출_금액, 연령대_30_건당_매출_금액, 연령대_40_건당_매출_금액, 연령대_50_건당_매출_금액, 연령대_60_이상_건당_매출_금액]
Index: []

### feature순서 재배치

In [94]:
cols_1 = ['기준_년분기_코드', '상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']

cols_2 = ['당월_매출_금액', '주중_매출_금액', '주말_매출_금액',
         '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~06_매출_금액',
         '남성_매출_금액', '여성_매출_금액', 
         '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액']

cols_3 = ['당월_매출_건수', '주중_매출_건수', '주말_매출_건수',
         '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수', '시간대_건수~21_매출_건수', '시간대_21~06_매출_건수',
         '남성_매출_건수', '여성_매출_건수',
         '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수']

cols_4 = ['당월_건당_매출_금액', '주중_건당_매출_금액', '주말_건당_매출_금액',
         '시간대_06~11_건당_매출_금액', '시간대_11~14_건당_매출_금액', '시간대_14~17_건당_매출_금액', '시간대_17~21_건당_매출_금액', '시간대_21~06_건당_매출_금액',
         '남성_건당_매출_금액', '여성_건당_매출_금액',
         '연령대_10_건당_매출_금액', '연령대_20_건당_매출_금액', '연령대_30_건당_매출_금액', '연령대_40_건당_매출_금액', '연령대_50_건당_매출_금액', '연령대_60_이상_건당_매출_금액']

cols = [*cols_1, *cols_2, *cols_3, *cols_4]

estimated_sales = estimated_sales[cols].rename(columns = {'시간대_건수~11_매출_건수' : '시간대_06~11_매출_건수',
                                                         '시간대_건수~14_매출_건수' : '시간대_11~14_매출_건수',
                                                         '시간대_건수~17_매출_건수' : '시간대_14~17_매출_건수',
                                                         '시간대_건수~21_매출_건수' : '시간대_17~21_매출_건수'})

### 분기데이터 1년치 데이터로 변환

In [95]:
estimated_sales_year = estimated_sales.drop(columns = ['기준_년분기_코드']).groupby(['상권_구분_코드_명', '상권_코드_명', '서비스_업종_코드_명']).mean().reset_index()

## 임대료 전처리

### 불필요한 feature 제거
- 행정동코드
- 임대시세층구분코드
- 기준년코드
- 기준분기코드
- 임대건수
- 환산임대료평균

In [96]:
rent = rent.rename(columns = {"행정동코드명" : "행정동_코드_명"}).drop(columns = ['행정동코드', '임대시세층구분코드', '기준년코드', '기준분기코드', '임대건수', '환산임대료평균'])[rent['임대시세층구분명'] != '전체층']

In [97]:
rent.head()

  행정동_코드_명 임대시세층구분명     보증금평균  월임대료평균
0      내곡동       1층   3286492  124345
1      내곡동      1층외  17778757  110169
3     방배3동      1층외   3590641   92720
5     방배3동       1층   1093228   94289
6     삼성2동      1층외   1312205  164525

### 결측치 확인 및 제거
- 결측치 없음

In [100]:
rent.isnull().sum()

행정동_코드_명    0
임대시세층구분명    0
보증금평균       0
월임대료평균      0
dtype: int64

### 이상치 처리

In [101]:
rent.describe()

             보증금평균     월임대료평균
count      849.000    849.000
mean   2290233.134 104758.296
std    1368703.396  54340.249
min          0.000      0.000
25%    1466278.000  66164.000
50%    2003512.000  98072.000
75%    2817322.000 130993.000
max   17778757.000 424738.000

## 데이터 병합

In [228]:
df = pd.merge(living_popul_year, resident_popul_year)
df = pd.merge(df, area)
df = pd.merge(df, store_year)
df = pd.merge(df, working_popul_year)
df = pd.merge(df, facilitie_year)
df = pd.merge(df, estimated_sales_year)
df = pd.merge(df, rent)

In [229]:
cols_1 = ['자치구_코드_명', '행정동_코드_명', '임대시세층구분명', '보증금평균', '월임대료평균']
cols_2 = ['상권_구분_코드_명', '상권_코드_명', '영역_면적', '엑스좌표_값', '와이좌표_값']
cols_3 = ['총_유동인구_수', '남성_유동인구_수', '여성_유동인구_수',
          '연령대_10_유동인구_수', '연령대_20_유동인구_수', '연령대_30_유동인구_수', '연령대_40_유동인구_수', '연령대_50_유동인구_수', '연령대_60_이상_유동인구_수',
          '시간대_06_11_유동인구_수', '시간대_11_14_유동인구_수', '시간대_14_17_유동인구_수', '시간대_17_21_유동인구_수', '시간대_21_06_유동인구_수',
          '주중_유동인구_수', '주말_유동인구_수']
cols_4 = ['남성연령대_10_상주인구_수', '남성연령대_20_상주인구_수', '남성연령대_30_상주인구_수', '남성연령대_40_상주인구_수', '남성연령대_50_상주인구_수', '남성연령대_60_이상_상주인구_수', 
          '여성연령대_10_상주인구_수', '여성연령대_20_상주인구_수', '여성연령대_30_상주인구_수', '여성연령대_40_상주인구_수', '여성연령대_50_상주인구_수', '여성연령대_60_이상_상주인구_수',
          '총_직장_인구_수']
cols_5 = ['관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수', '초등학교_수', '중학교_수', '고등학교_수',
          '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수', '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수']
cols_6 = ['서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수', '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수']
cols_7 = ['당월_매출_금액', '주중_매출_금액', '주말_매출_금액', 
          '시간대_06~11_매출_금액', '시간대_11~14_매출_금액', '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~06_매출_금액', 
          '남성_매출_금액', '여성_매출_금액', 
          '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액', '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', 
          '당월_매출_건수', '주중_매출_건수', '주말_매출_건수', 
          '시간대_06~11_매출_건수', '시간대_11~14_매출_건수', '시간대_14~17_매출_건수', '시간대_17~21_매출_건수', '시간대_21~06_매출_건수', 
          '남성_매출_건수', '여성_매출_건수', 
          '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수', '연령대_50_매출_건수', '연령대_60_이상_매출_건수', 
          '당월_건당_매출_금액', '주중_건당_매출_금액', '주말_건당_매출_금액', 
          '시간대_06~11_건당_매출_금액', '시간대_11~14_건당_매출_금액', '시간대_14~17_건당_매출_금액', '시간대_17~21_건당_매출_금액', '시간대_21~06_건당_매출_금액', 
          '남성_건당_매출_금액', '여성_건당_매출_금액', 
          '연령대_10_건당_매출_금액', '연령대_20_건당_매출_금액', '연령대_30_건당_매출_금액', '연령대_40_건당_매출_금액', '연령대_50_건당_매출_금액', '연령대_60_이상_건당_매출_금액']


cols = [*cols_1, *cols_2, *cols_3, *cols_4, *cols_5, *cols_6, *cols_7]

df = df[cols]

In [230]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26970 entries, 0 to 26969
Columns: 114 entries, 자치구_코드_명 to 월임대료평균
dtypes: float64(83), int64(25), object(6)
memory usage: 23.5+ MB

In [231]:
df.head()

,자치구_코드_명,행정동_코드_명,상권_구분_코드_명,상권_코드_명,영역_면적,엑스좌표_값,와이좌표_값,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_06_유동인구_수,주중_유동인구_수,주말_유동인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_직장_인구_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수,당월_매출_금액,주중_매출_금액,주말_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~06_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,당월_매출_건수,주중_매출_건수,주말_매출_건수,시간대_06~11_매출_건수,시간대_11~14_매출_건수,시간대_14~17_매출_건수,시간대_17~21_매출_건수,시간대_21~06_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,당월_건당_매출_금액,주중_건당_매출_금액,주말_건당_매출_금액,시간대_06~11_건당_매출_금액,시간대_11~14_건당_매출_금액,시간대_14~17_건당_매출_금액,시간대_17~21_건당_매출_금액,시간대_21~06_건당_매출_금액,남성_건당_매출_금액,여성_건당_매출_금액,연령대_10_건당_매출_금액,연령대_20_건당_매출_금액,연령대_30_건당_매출_금액,연령대_40_건당_매출_금액,연령대_50_건당_매출_금액,연령대_60_이상_건당_매출_금액,임대시세층구분명,보증금평균,월임대료평균
0,강북구,우이동,골목상권,4.19민주묘지역 2번,60794,201112,461090,868030.000,361490.250,506539.250,128381.000,163223.250,107811.500,113781.750,121303.500,233529.500,169905.000,105148.000,103902.500,145960.750,343114.000,619012.250,249017.500,73,57,62,93,95,216,62,64,72,97,95,261,96,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,한식음식점,23,24,8,2,4,1,1,1739897842.000,1033559973.000,706337869.000,34758423.750,481068145.750,310010178.000,724466602.750,189594491.750,989044375.250,651314594.250,5154289.250,116807695.250,212122359.000,294670997.500,521347174.250,490256455.000,51956.500,33236.750,18719.750,1961.250,17455.500,10006.500,18257.750,4275.500,29305.250,21307.250,335.500,5561.500,6832.000,9084.250,14829.250,13972.000,33572.889,31134.794,37937.946,17773.801,27381.008,31010.383,39874.189,44545.446,33800.232,30709.071,15353.105,21074.157,31275.325,32766.235,35019.042,35398.899,1층외,814856,35822
1,강북구,우이동,골목상권,4.19민주묘지역 2번,60794,201112,461090,868030.000,361490.250,506539.250,128381.000,163223.250,107811.500,113781.750,121303.500,233529.500,169905.000,105148.000,103902.500,145960.750,343114.000,619012.250,249017.500,73,57,62,93,95,216,62,64,72,97,95,261,96,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,한식음식점,23,24,8,2,4,1,1,1739897842.000,1033559973.000,706337869.000,34758423.750,481068145.750,310010178.000,724466602.750,189594491.750,989044375.250,651314594.250,5154289.250,116807695.250,212122359.000,294670997.500,521347174.250,490256455.000,51956.500,33236.750,18719.750,1961.250,17455.500,10006.500,18257.750,4275.500,29305.250,21307.250,335.500,5561.500,6832.000,9084.250,14829.250,13972.000,33572.889,31134.794,37937.946,17773.801,27381.008,31010.383,39874.189,44545.446,33800.232,30709.071,15353.105,21074.157,31275.325,32766.235,35019.042,35398.899,1층,1600781,74305
2,강북구,우이동,골목상권,4.19민주묘지역 2번,60794,201112,461090,868030.000,361490.250,506539.250,128381.000,163223.250,107811.500,113781.750,121303.500,233529.500,169905.000,105148.000,103902.500,145960.750,343114.000,619012.250,249017.500,73,57,62,93,95,216,62,64,72,97,95,261,96,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,일식음식점,3,3,0,0,0,0,0,18435727.000,15543098.250,2892628.750,0.000,9658447.500,3074001.750,5623422.500,79855.250,7005386.750,11430340.250,561557.250,6405609.500,2608330.250,3453367.250,3140322.750,2266540.000,1519.250,1359.250,160.000,0.000,821.500,247.000,441.750,9.000,463.250,1056.000,55.250,601.250,198.500,296.750,264.000,103.500,12216.994,11513.839,18130.938,0.000,11779.065,12683.103,12867.929,8648.625,15253.336,10867.332,10839.657,10668.088,13203.072,11725.296,12048.076,21269.099,1층외,814856,35822
3,강북구,우이동,골목상권,4.19민주묘지역 2번,60794,201112,461090,868030.000,361490.250,506539.250,128381.000,163223.250,107811.500,113781.750,121303.500,233529.500,169905.000,105148.000,103902.500,145960.750,343114.000,619012.250,249017.500,73,57,62,93,95,216,62,64,72,97,95,261,96,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,일식음식점,3,3,0,0,0,0,0,18435727.000,15543098.250,2892628.750,0.000,9658447.500,3074001.750,5623422.500,79855.250,7005386.750,11430340.250,561557.250,6405609.500,2608330.250,3453367.250,3140322.750,2266540.000,1519.250,1359.250,160.000,0.000,821.500,247.000,441.750,9.000,463.250,1056.000,55.250,601.250,198.500,296.750,264.000,103.500,12216.994,11513.839,18130.938,0.000,11779.065,12683.103,12867.929,8648.625,15253.336,10867.332,10839.657,10668.088,13203.072,11725.296,12048.076,21269.099,1층,1600781,74305
4,강북구,우이동,골목상권,4.19민주묘지역 2번,60794,201112,461090,868030.000,361490.250,506539.250,128381.000,163223.250,107811.500,113781.750,121303.500,233529.500,169905.000,105148.000,103902.500,145960.750,343114.000,619012.250,249017.500,73,57,62,93,95,216,62,64,72,97,95,261,96,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,패스트푸드점,0,3,0,0,0,0,3,86378566.500,59122514.500,27256052.000,3169532.250,24443206.750,20407827.500,33587803.750,4770196.250,41442797.250,42919979.000,1285185.750,17418838.000,19863153.250,21952675.500,14165818.500,9677105.500,9085.250,6316.500,2768.750,327.000,2693.500,2068.000,3472.750,524.000,4168.750,4881.000,166.250,2228.000,2101.000,2142.000,1393.500,1017.500,9524.851,9389.652,9837.983,9698.443,9090.270,9903.015,9676.000,9051.212,9972.561,8805.697,7651.680,7839.990,9505.546,10256.964,10182.590,9459.499,1층외,814856,35822