<a href="https://colab.research.google.com/github/databeom/final-project/blob/sjun/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연동

In [76]:
## colab 버전은 csv 데이터 세트를 google drive에서 로딩 해야 합니다. 이를 위해 google drive를 colab에 mount 수행.
import os, sys
from google.colab import drive

drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [77]:
%cd '/content/gdrive/MyDrive/최종프로젝트/'
! ls

/content/gdrive/MyDrive/최종프로젝트
 data  'Final Project.ipynb'  '데이터 정의서.xlsx'   영역

# 라이브러리 설치

In [78]:
import pandas as pd
import os

In [79]:
pd.options.display.float_format = '{:.3f}'.format
pd.set_option('display.max_columns', None)

# 데이터 불러오기

In [80]:
PATH = 'data/'

file_list= os.listdir(PATH)
csv_list = list()

for file in file_list:
    if file.split(".")[-1] == 'csv':
        csv_list.append(file)

In [81]:
csv_list

['서울시 상권분석서비스(영역-상권).csv',
 '서울시 상권분석서비스(집객시설-상권).csv',
 '서울시 상권분석서비스(길단위인구-상권).csv',
 '서울시 상권분석서비스(상주인구-상권).csv',
 '서울시 상권분석서비스(상권변화지표-상권).csv',
 '서울시 상권분석서비스(소득소비-상권).csv',
 '서울시 상권분석서비스(아파트-상권).csv',
 '서울시 상권분석서비스(직장인구-상권).csv',
 '서울시 상권분석서비스(점포-상권).csv',
 '서울시 상권분석서비스(추정매출-상권).csv']

In [82]:
data = ['area', 'facilitie', 'living_popul', 'resident_popul', 'indicator', 'income', 'apartment', 'working_popul', 'store', 'estimated_sales']

for name, file in zip(data, csv_list):
    globals()[name] = pd.read_csv(PATH + file, encoding = "cp949")

# EDA

## 전체 데이터

### 데이터 확인

In [83]:
for i in data:
  print(i)
  print('------------------------------------------------')
  globals()[i].info()
  print('================================================')

area
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   상권_구분_코드_명  1650 non-null   object
 1   상권_코드_명     1650 non-null   object
 2   엑스좌표_값      1650 non-null   int64
 3   와이좌표_값      1650 non-null   int64
 4   자치구_코드_명    1650 non-null   object
 5   행정동_코드_명    1650 non-null   object
 6   영역_면적       1650 non-null   int64
dtypes: int64(3), object(4)
memory usage: 90.4+ KB
================================================
facilitie
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17358 entries, 0 to 17357
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년분기_코드   17358 non-null  int64
 1   상권_구분_코드_명  17358 non-null  object
 2   상권_코드_명     17358 non-null  object
 3   집객시설_수      17358 non-null  int64
 4   관공서_수       6930 non-null   float64
 5   은행_수        5357 non-null   float64
 6   종합병원_수      253 non-null    float64
 7   일반_병원_수     1452 non-null   float64
 8   약국_수        11099 non-null  float64
 9   유치원_수       1661 non-null   float64
 10  초등학교_수      143 non-null    float64
 11  중학교_수       44 non-null     float64
 12  고등학교_수      121 non-null    float64
 13  대학교_수       924 non-null    float64
 14  백화점_수       121 non-null    float64
 15  슈퍼마켓_수      1155 non-null   float64
 16  극장_수        924 non-null    float64
 17  숙박_시설_수     1595 non-null   float64
 18  공항_수        11 non-null     float64
 19  철도_역_수      0 non-null      float64
 20  버스_터미널_수    22 non-null     float64
 21  지하철_역_수     2145 non-null   float64
 22  버스_정거장_수    13970 non-null  float64
dtypes: float64(19), int64(2), object(2)
memory usage: 3.0+ MB
================================================
living_popul
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29697 entries, 0 to 29696
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   기준_년분기_코드         29697 non-null  int64
 1   상권_구분_코드_명        29697 non-null  object
 2   상권_코드_명           29697 non-null  object
 3   총_유동인구_수          29697 non-null  int64
 4   남성_유동인구_수         29697 non-null  int64
 5   여성_유동인구_수         29697 non-null  int64
 6   연령대_10_유동인구_수     29697 non-null  int64
 7   연령대_20_유동인구_수     29697 non-null  int64
 8   연령대_30_유동인구_수     29697 non-null  int64
 9   연령대_40_유동인구_수     29697 non-null  int64
 10  연령대_50_유동인구_수     29697 non-null  int64
 11  연령대_60_이상_유동인구_수  29697 non-null  int64
 12  시간대_00_06_유동인구_수  29697 non-null  int64
 13  시간대_06_11_유동인구_수  29697 non-null  int64
 14  시간대_11_14_유동인구_수  29697 non-null  int64
 15  시간대_14_17_유동인구_수  29697 non-null  int64
 16  시간대_17_21_유동인구_수  29697 non-null  int64
 17  시간대_21_24_유동인구_수  29697 non-null  int64
 18  월요일_유동인구_수        29697 non-null  int64
 19  화요일_유동인구_수        29697 non-null  int64
 20  수요일_유동인구_수        29697 non-null  int64
 21  목요일_유동인구_수        29697 non-null  int64
 22  금요일_유동인구_수        29697 non-null  int64
 23  토요일_유동인구_수        29697 non-null  int64
 24  일요일_유동인구_수        29697 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB
================================================
resident_popul
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24486 entries, 0 to 24485
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년분기_코드           24486 non-null  int64
 1   상권_구분_코드_명          24486 non-null  object
 2   상권_코드_명             24486 non-null  object
 3   총_상주인구_수            24486 non-null  int64
 4   남성_상주인구_수           24486 non-null  int64
 5   여성_상주인구_수           24486 non-null  int64
 6   연령대_10_상주인구_수       24486 non-null  int64
 7   연령대_20_상주인구_수       24486 non-null  int64
 8   연령대_30_상주인구_수       24486 non-null  int64
 9   연령대_40_상주인구_수       24486 non-null  int64
 10  연령대_50_상주인구_수       24486 non-null  int64
 11  연령대_60_이상_상주인구_수    24486 non-null  int64
 12  남성연령대_10_상주인구_수     24486 non-null  int64
 13  남성연령대_20_상주인구_수     24486 non-null  int64
 14  남성연령대_30_상주인구_수     24486 non-null  int64
 15  남성연령대_40_상주인구_수     24486 non-null  int64
 16  남성연령대_50_상주인구_수     24486 non-null  int64
 17  남성연령대_60_이상_상주인구_수  24486 non-null  int64
 18  여성연령대_10_상주인구_수     24486 non-null  int64
 19  여성연령대_20_상주인구_수     24486 non-null  int64
 20  여성연령대_30_상주인구_수     24486 non-null  int64
 21  여성연령대_40_상주인구_수     24486 non-null  int64
 22  여성연령대_50_상주인구_수     24486 non-null  int64
 23  여성연령대_60_이상_상주인구_수  24486 non-null  int64
 24  총_가구_수              24486 non-null  int64
 25  아파트_가구_수            24486 non-null  int64
 26  비_아파트_가구_수          24486 non-null  int64
dtypes: int64(25), object(2)
memory usage: 5.0+ MB
================================================
indicator
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29700 entries, 0 to 29699
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   기준_년분기_코드       29700 non-null  int64
 1   상권_구분_코드_명      29700 non-null  object
 2   상권_코드_명         29700 non-null  object
 3   상권_변화_지표_명      29700 non-null  object
 4   운영_영업_개월_평균     29700 non-null  int64
 5   폐업_영업_개월_평균     29700 non-null  int64
 6   서울_운영_영업_개월_평균  29700 non-null  int64
 7   서울_폐업_영업_개월_평균  29700 non-null  int64
dtypes: int64(5), object(3)
memory usage: 1.8+ MB
================================================
income
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29352 entries, 0 to 29351
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준_년분기_코드     29352 non-null  int64
 1   상권_구분_코드_명    29352 non-null  object
 2   상권_코드_명       29352 non-null  object
 3   월_평균_소득_금액    29196 non-null  float64
 4   소득_구간_코드      29196 non-null  float64
 5   지출_총금액        28728 non-null  float64
 6   식료품_지출_총금액    28728 non-null  float64
 7   의류_신발_지출_총금액  28728 non-null  float64
 8   생활용품_지출_총금액   28728 non-null  float64
 9   의료비_지출_총금액    28728 non-null  float64
 10  교통_지출_총금액     28728 non-null  float64
 11  여가_지출_총금액     28728 non-null  float64
 12  문화_지출_총금액     28728 non-null  float64
 13  교육_지출_총금액     28728 non-null  float64
 14  유흥_지출_총금액     28728 non-null  float64
dtypes: float64(12), int64(1), object(2)
memory usage: 3.4+ MB
================================================
apartment
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22117 entries, 0 to 22116
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   기준_년분기_코드               22117 non-null  int64
 1   상권_구분_코드_명              22117 non-null  object
 2   상권_코드_명                 22117 non-null  object
 3   아파트_단지_수                22117 non-null  int64
 4   아파트_면적_66_제곱미터_미만_세대_수  21579 non-null  float64
 5   아파트_면적_66_제곱미터_세대_수     20375 non-null  float64
 6   아파트_면적_99_제곱미터_세대_수     14043 non-null  float64
 7   아파트_면적_132_제곱미터_세대_수    7551 non-null   float64
 8   아파트_면적_165_제곱미터_세대_수    4652 non-null   float64
 9   아파트_가격_1_억_미만_세대_수      17927 non-null  float64
 10  아파트_가격_1_억_세대_수         20647 non-null  float64
 11  아파트_가격_2_억_세대_수         19800 non-null  float64
 12  아파트_가격_3_억_세대_수         14029 non-null  float64
 13  아파트_가격_4_억_세대_수         9061 non-null   float64
 14  아파트_가격_5_억_세대_수         6249 non-null   float64
 15  아파트_가격_6_억_이상_세대_수      5504 non-null   float64
 16  아파트_평균_면적               22117 non-null  int64
 17  아파트_평균_시가               22117 non-null  int64
dtypes: float64(12), int64(4), object(2)
memory usage: 3.0+ MB
================================================
working_popul
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   기준_년분기_코드            25989 non-null  int64
 1   상권_구분_코드_명           25989 non-null  object
 2   상권_코드_명              25989 non-null  object
 3   총_직장_인구_수            25989 non-null  int64
 4   남성_직장_인구_수           25989 non-null  int64
 5   여성_직장_인구_수           25989 non-null  int64
 6   연령대_10_직장_인구_수       25989 non-null  int64
 7   연령대_20_직장_인구_수       25989 non-null  int64
 8   연령대_30_직장_인구_수       25989 non-null  int64
 9   연령대_40_직장_인구_수       25989 non-null  int64
 10  연령대_50_직장_인구_수       25989 non-null  int64
 11  연령대_60_이상_직장_인구_수    25989 non-null  int64
 12  남성연령대_10_직장_인구_수     25989 non-null  int64
 13  남성연령대_20_직장_인구_수     25989 non-null  int64
 14  남성연령대_30_직장_인구_수     25989 non-null  int64
 15  남성연령대_40_직장_인구_수     25989 non-null  int64
 16  남성연령대_50_직장_인구_수     25989 non-null  int64
 17  남성연령대_60_이상_직장_인구_수  25989 non-null  int64
 18  여성연령대_10_직장_인구_수     25989 non-null  int64
 19  여성연령대_20_직장_인구_수     25989 non-null  int64
 20  여성연령대_30_직장_인구_수     25989 non-null  int64
 21  여성연령대_40_직장_인구_수     25989 non-null  int64
 22  여성연령대_50_직장_인구_수     25989 non-null  int64
 23  여성연령대_60_이상_직장_인구_수  25989 non-null  int64
dtypes: int64(22), object(2)
memory usage: 4.8+ MB
================================================
store
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   기준_년분기_코드    1048575 non-null  int64
 1   상권_구분_코드_명   1048575 non-null  object
 2   상권_코드_명      1048575 non-null  object
 3   서비스_업종_코드_명  1048575 non-null  object
 4   점포_수         1048575 non-null  int64
 5   유사_업종_점포_수   1048575 non-null  int64
 6   개업_율         1048575 non-null  int64
 7   개업_점포_수      1048575 non-null  int64
 8   폐업_률         1048575 non-null  int64
 9   폐업_점포_수      1048575 non-null  int64
 10  프랜차이즈_점포_수   1048575 non-null  int64
dtypes: int64(8), object(3)
memory usage: 88.0+ MB
================================================
estimated_sales
------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204097 entries, 0 to 204096
Data columns (total 52 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        204097 non-null  int64
 1   상권_구분_코드_명       204097 non-null  object
 2   상권_코드_명          204097 non-null  object
 3   서비스_업종_코드_명      204097 non-null  object
 4   당월_매출_금액         204097 non-null  float64
 5   당월_매출_건수         204097 non-null  int64
 6   주중_매출_금액         204097 non-null  float64
 7   주말_매출_금액         204097 non-null  float64
 8   월요일_매출_금액        204097 non-null  float64
 9   화요일_매출_금액        204097 non-null  float64
 10  수요일_매출_금액        204097 non-null  float64
 11  목요일_매출_금액        204097 non-null  float64
 12  금요일_매출_금액        204097 non-null  float64
 13  토요일_매출_금액        204097 non-null  float64
 14  일요일_매출_금액        204097 non-null  float64
 15  시간대_00~06_매출_금액  204097 non-null  float64
 16  시간대_06~11_매출_금액  204097 non-null  float64
 17  시간대_11~14_매출_금액  204097 non-null  float64
 18  시간대_14~17_매출_금액  204097 non-null  float64
 19  시간대_17~21_매출_금액  204097 non-null  float64
 20  시간대_21~24_매출_금액  204097 non-null  int64
 21  남성_매출_금액         204097 non-null  float64
 22  여성_매출_금액         204097 non-null  float64
 23  연령대_10_매출_금액     204097 non-null  int64
 24  연령대_20_매출_금액     204097 non-null  int64
 25  연령대_30_매출_금액     204097 non-null  float64
 26  연령대_40_매출_금액     204097 non-null  float64
 27  연령대_50_매출_금액     204097 non-null  float64
 28  연령대_60_이상_매출_금액  204097 non-null  float64
 29  주중_매출_건수         204097 non-null  int64
 30  주말_매출_건수         204097 non-null  int64
 31  월요일_매출_건수        204097 non-null  int64
 32  화요일_매출_건수        204097 non-null  int64
 33  수요일_매출_건수        204097 non-null  int64
 34  목요일_매출_건수        204097 non-null  int64
 35  금요일_매출_건수        204097 non-null  int64
 36  토요일_매출_건수        204097 non-null  int64
 37  일요일_매출_건수        204097 non-null  int64
 38  시간대_건수~06_매출_건수  204097 non-null  int64
 39  시간대_건수~11_매출_건수  204097 non-null  int64
 40  시간대_건수~14_매출_건수  204097 non-null  int64
 41  시간대_건수~17_매출_건수  204097 non-null  int64
 42  시간대_건수~21_매출_건수  204097 non-null  int64
 43  시간대_건수~24_매출_건수  204097 non-null  int64
 44  남성_매출_건수         204097 non-null  int64
 45  여성_매출_건수         204097 non-null  int64
 46  연령대_10_매출_건수     204097 non-null  int64
 47  연령대_20_매출_건수     204097 non-null  int64
 48  연령대_30_매출_건수     204097 non-null  int64
 49  연령대_40_매출_건수     204097 non-null  int64
 50  연령대_50_매출_건수     204097 non-null  int64
 51  연령대_60_이상_매출_건수  204097 non-null  int64
dtypes: float64(21), int64(28), object(3)
memory usage: 81.0+ MB
================================================

### 결측값 확인

In [84]:
for i in data:
  print(i)
  print('------------------------------------------------')
  print(globals()[i].isnull().sum())
  print('================================================')

area
------------------------------------------------
상권_구분_코드_명    0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드_명      0
행정동_코드_명      0
영역_면적         0
dtype: int64
================================================
facilitie
------------------------------------------------
기준_년분기_코드         0
상권_구분_코드_명        0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64
================================================
living_popul
------------------------------------------------
기준_년분기_코드           0
상권_구분_코드_명          0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64
================================================
resident_popul
------------------------------------------------
기준_년분기_코드             0
상권_구분_코드_명            0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64
================================================
indicator
------------------------------------------------
기준_년분기_코드         0
상권_구분_코드_명        0
상권_코드_명           0
상권_변화_지표_명        0
운영_영업_개월_평균       0
폐업_영업_개월_평균       0
서울_운영_영업_개월_평균    0
서울_폐업_영업_개월_평균    0
dtype: int64
================================================
income
------------------------------------------------
기준_년분기_코드         0
상권_구분_코드_명        0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64
================================================
apartment
------------------------------------------------
기준_년분기_코드                     0
상권_구분_코드_명                    0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64
================================================
working_popul
------------------------------------------------
기준_년분기_코드              0
상권_구분_코드_명             0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64
================================================
store
------------------------------------------------
기준_년분기_코드      0
상권_구분_코드_명     0
상권_코드_명        0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64
================================================
estimated_sales
------------------------------------------------
기준_년분기_코드          0
상권_구분_코드_명         0
상권_코드_명            0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64
================================================

### 0인 값 확인

In [85]:
for i in data:
  col = list(globals()[i].columns)
  print(i)
  print('------------------------------------------------------')
  for j in col:
    print(f'{j} : {len(globals()[i][globals()[i][j] == 0])}')
  print('======================================================')

area
------------------------------------------------------
상권_구분_코드_명 : 0
상권_코드_명 : 0
엑스좌표_값 : 0
와이좌표_값 : 0
자치구_코드_명 : 0
행정동_코드_명 : 0
영역_면적 : 0
======================================================
facilitie
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
집객시설_수 : 0
관공서_수 : 0
은행_수 : 0
종합병원_수 : 0
일반_병원_수 : 0
약국_수 : 0
유치원_수 : 0
초등학교_수 : 0
중학교_수 : 0
고등학교_수 : 0
대학교_수 : 0
백화점_수 : 0
슈퍼마켓_수 : 0
극장_수 : 0
숙박_시설_수 : 0
공항_수 : 0
철도_역_수 : 0
버스_터미널_수 : 0
지하철_역_수 : 0
버스_정거장_수 : 0
======================================================
living_popul
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_유동인구_수 : 0
남성_유동인구_수 : 0
여성_유동인구_수 : 3
연령대_10_유동인구_수 : 17
연령대_20_유동인구_수 : 7
연령대_30_유동인구_수 : 6
연령대_40_유동인구_수 : 3
연령대_50_유동인구_수 : 3
연령대_60_이상_유동인구_수 : 2
시간대_00_06_유동인구_수 : 7
시간대_06_11_유동인구_수 : 0
시간대_11_14_유동인구_수 : 0
시간대_14_17_유동인구_수 : 1
시간대_17_21_유동인구_수 : 3
시간대_21_24_유동인구_수 : 18
월요일_유동인구_수 : 2
화요일_유동인구_수 : 2
수요일_유동인구_수 : 1
목요일_유동인구_수 : 1
금요일_유동인구_수 : 3
토요일_유동인구_수 : 2
일요일_유동인구_수 : 3
======================================================
resident_popul
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_상주인구_수 : 0
남성_상주인구_수 : 15
여성_상주인구_수 : 118
연령대_10_상주인구_수 : 591
연령대_20_상주인구_수 : 359
연령대_30_상주인구_수 : 240
연령대_40_상주인구_수 : 192
연령대_50_상주인구_수 : 139
연령대_60_이상_상주인구_수 : 81
남성연령대_10_상주인구_수 : 827
남성연령대_20_상주인구_수 : 462
남성연령대_30_상주인구_수 : 330
남성연령대_40_상주인구_수 : 307
남성연령대_50_상주인구_수 : 193
남성연령대_60_이상_상주인구_수 : 123
여성연령대_10_상주인구_수 : 830
여성연령대_20_상주인구_수 : 660
여성연령대_30_상주인구_수 : 520
여성연령대_40_상주인구_수 : 475
여성연령대_50_상주인구_수 : 354
여성연령대_60_이상_상주인구_수 : 225
총_가구_수 : 0
아파트_가구_수 : 24486
비_아파트_가구_수 : 0
======================================================
indicator
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
상권_변화_지표_명 : 0
운영_영업_개월_평균 : 36
폐업_영업_개월_평균 : 0
서울_운영_영업_개월_평균 : 0
서울_폐업_영업_개월_평균 : 0
======================================================
income
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
월_평균_소득_금액 : 0
소득_구간_코드 : 0
지출_총금액 : 0
식료품_지출_총금액 : 0
의류_신발_지출_총금액 : 0
생활용품_지출_총금액 : 0
의료비_지출_총금액 : 0
교통_지출_총금액 : 0
여가_지출_총금액 : 0
문화_지출_총금액 : 0
교육_지출_총금액 : 0
유흥_지출_총금액 : 0
======================================================
apartment
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
아파트_단지_수 : 0
아파트_면적_66_제곱미터_미만_세대_수 : 0
아파트_면적_66_제곱미터_세대_수 : 0
아파트_면적_99_제곱미터_세대_수 : 0
아파트_면적_132_제곱미터_세대_수 : 0
아파트_면적_165_제곱미터_세대_수 : 0
아파트_가격_1_억_미만_세대_수 : 0
아파트_가격_1_억_세대_수 : 0
아파트_가격_2_억_세대_수 : 0
아파트_가격_3_억_세대_수 : 0
아파트_가격_4_억_세대_수 : 0
아파트_가격_5_억_세대_수 : 0
아파트_가격_6_억_이상_세대_수 : 0
아파트_평균_면적 : 0
아파트_평균_시가 : 0
======================================================
working_popul
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_직장_인구_수 : 0
남성_직장_인구_수 : 60
여성_직장_인구_수 : 45
연령대_10_직장_인구_수 : 13642
연령대_20_직장_인구_수 : 959
연령대_30_직장_인구_수 : 337
연령대_40_직장_인구_수 : 198
연령대_50_직장_인구_수 : 166
연령대_60_이상_직장_인구_수 : 476
남성연령대_10_직장_인구_수 : 16761
남성연령대_20_직장_인구_수 : 2281
남성연령대_30_직장_인구_수 : 922
남성연령대_40_직장_인구_수 : 496
남성연령대_50_직장_인구_수 : 384
남성연령대_60_이상_직장_인구_수 : 636
여성연령대_10_직장_인구_수 : 16797
여성연령대_20_직장_인구_수 : 1695
여성연령대_30_직장_인구_수 : 1063
여성연령대_40_직장_인구_수 : 608
여성연령대_50_직장_인구_수 : 606
여성연령대_60_이상_직장_인구_수 : 1433
======================================================
store
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
서비스_업종_코드_명 : 0
점포_수 : 40309
유사_업종_점포_수 : 7340
개업_율 : 920770
개업_점포_수 : 920597
폐업_률 : 948860
폐업_점포_수 : 941654
프랜차이즈_점포_수 : 884251
======================================================
estimated_sales
------------------------------------------------------
기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
서비스_업종_코드_명 : 0
당월_매출_금액 : 0
당월_매출_건수 : 0
주중_매출_금액 : 887
주말_매출_금액 : 16785
월요일_매출_금액 : 12689
화요일_매출_금액 : 11846
수요일_매출_금액 : 11532
목요일_매출_금액 : 11199
금요일_매출_금액 : 10539
토요일_매출_금액 : 19263
일요일_매출_금액 : 54704
시간대_00~06_매출_금액 : 135168
시간대_06~11_매출_금액 : 49578
시간대_11~14_매출_금액 : 20000
시간대_14~17_매출_금액 : 11010
시간대_17~21_매출_금액 : 8460
시간대_21~24_매출_금액 : 66353
남성_매출_금액 : 5568
여성_매출_금액 : 4394
연령대_10_매출_금액 : 86900
연령대_20_매출_금액 : 29263
연령대_30_매출_금액 : 15927
연령대_40_매출_금액 : 10409
연령대_50_매출_금액 : 11253
연령대_60_이상_매출_금액 : 19061
주중_매출_건수 : 885
주말_매출_건수 : 16737
월요일_매출_건수 : 12658
화요일_매출_건수 : 11804
수요일_매출_건수 : 11485
목요일_매출_건수 : 11155
금요일_매출_건수 : 10503
토요일_매출_건수 : 19207
일요일_매출_건수 : 54659
시간대_건수~06_매출_건수 : 135169
시간대_건수~11_매출_건수 : 49542
시간대_건수~14_매출_건수 : 19975
시간대_건수~17_매출_건수 : 10983
시간대_건수~21_매출_건수 : 8436
시간대_건수~24_매출_건수 : 66276
남성_매출_건수 : 5552
여성_매출_건수 : 4375
연령대_10_매출_건수 : 86933
연령대_20_매출_건수 : 29213
연령대_30_매출_건수 : 15881
연령대_40_매출_건수 : 10379
연령대_50_매출_건수 : 11213
연령대_60_이상_매출_건수 : 19018
======================================================

## 상주인구

### 데이터 확인

In [86]:
resident_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24486 entries, 0 to 24485
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   기준_년분기_코드           24486 non-null  int64
 1   상권_구분_코드_명          24486 non-null  object
 2   상권_코드_명             24486 non-null  object
 3   총_상주인구_수            24486 non-null  int64
 4   남성_상주인구_수           24486 non-null  int64
 5   여성_상주인구_수           24486 non-null  int64
 6   연령대_10_상주인구_수       24486 non-null  int64
 7   연령대_20_상주인구_수       24486 non-null  int64
 8   연령대_30_상주인구_수       24486 non-null  int64
 9   연령대_40_상주인구_수       24486 non-null  int64
 10  연령대_50_상주인구_수       24486 non-null  int64
 11  연령대_60_이상_상주인구_수    24486 non-null  int64
 12  남성연령대_10_상주인구_수     24486 non-null  int64
 13  남성연령대_20_상주인구_수     24486 non-null  int64
 14  남성연령대_30_상주인구_수     24486 non-null  int64
 15  남성연령대_40_상주인구_수     24486 non-null  int64
 16  남성연령대_50_상주인구_수     24486 non-null  int64
 17  남성연령대_60_이상_상주인구_수  24486 non-null  int64
 18  여성연령대_10_상주인구_수     24486 non-null  int64
 19  여성연령대_20_상주인구_수     24486 non-null  int64
 20  여성연령대_30_상주인구_수     24486 non-null  int64
 21  여성연령대_40_상주인구_수     24486 non-null  int64
 22  여성연령대_50_상주인구_수     24486 non-null  int64
 23  여성연령대_60_이상_상주인구_수  24486 non-null  int64
 24  총_가구_수              24486 non-null  int64
 25  아파트_가구_수            24486 non-null  int64
 26  비_아파트_가구_수          24486 non-null  int64
dtypes: int64(25), object(2)
memory usage: 5.0+ MB

In [87]:
resident_popul.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
0,20194,발달상권,시청역_8번,26,16,10,0,2,3,1,4,16,0,2,1,1,2,10,0,0,2,0,2,6,15,0,15
1,20194,발달상권,북창동(시청역_6번),261,167,94,2,21,40,35,50,113,0,11,31,28,27,70,2,10,9,7,23,43,237,0,237
2,20194,발달상권,서울시청,19,10,9,2,0,0,3,5,9,0,0,0,2,2,6,2,0,0,1,3,3,14,0,14
3,20194,발달상권,회현역,1740,902,838,100,136,171,214,277,842,44,64,97,123,150,424,56,72,74,91,127,418,1172,0,1172
4,20194,발달상권,롯데백화점(시청광장 지하쇼핑센터),1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1

### 결측값 확인

In [88]:
resident_popul.isnull().sum()

기준_년분기_코드             0
상권_구분_코드_명            0
상권_코드_명               0
총_상주인구_수              0
남성_상주인구_수             0
여성_상주인구_수             0
연령대_10_상주인구_수         0
연령대_20_상주인구_수         0
연령대_30_상주인구_수         0
연령대_40_상주인구_수         0
연령대_50_상주인구_수         0
연령대_60_이상_상주인구_수      0
남성연령대_10_상주인구_수       0
남성연령대_20_상주인구_수       0
남성연령대_30_상주인구_수       0
남성연령대_40_상주인구_수       0
남성연령대_50_상주인구_수       0
남성연령대_60_이상_상주인구_수    0
여성연령대_10_상주인구_수       0
여성연령대_20_상주인구_수       0
여성연령대_30_상주인구_수       0
여성연령대_40_상주인구_수       0
여성연령대_50_상주인구_수       0
여성연령대_60_이상_상주인구_수    0
총_가구_수                0
아파트_가구_수              0
비_아파트_가구_수            0
dtype: int64

### 기술통계량

In [89]:
resident_popul.describe()

,기준_년분기_코드,총_상주인구_수,남성_상주인구_수,여성_상주인구_수,연령대_10_상주인구_수,연령대_20_상주인구_수,연령대_30_상주인구_수,연령대_40_상주인구_수,연령대_50_상주인구_수,연령대_60_이상_상주인구_수,남성연령대_10_상주인구_수,남성연령대_20_상주인구_수,남성연령대_30_상주인구_수,남성연령대_40_상주인구_수,남성연령대_50_상주인구_수,남성연령대_60_이상_상주인구_수,여성연령대_10_상주인구_수,여성연령대_20_상주인구_수,여성연령대_30_상주인구_수,여성연령대_40_상주인구_수,여성연령대_50_상주인구_수,여성연령대_60_이상_상주인구_수,총_가구_수,아파트_가구_수,비_아파트_가구_수
count,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000,24486.000
mean,20213.785,2370.402,1165.946,1204.455,251.370,391.831,401.826,355.496,372.310,597.570,128.947,187.724,206.922,182.484,186.751,273.118,122.422,204.107,194.903,173.011,185.559,324.452,1254.353,0.000,1254.353
std,11.114,2330.524,1144.847,1192.085,283.494,440.017,438.885,365.876,373.136,591.028,145.620,207.390,226.066,186.616,184.754,269.621,138.541,239.475,216.629,181.468,190.638,323.218,1225.015,0.000,1225.015
min,20194.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,1.000,0.000,1.000
25%,20203.000,668.000,330.000,333.000,58.000,92.000,98.000,95.000,98.000,163.000,29.000,45.000,51.000,49.000,51.000,76.000,28.000,46.000,47.000,44.000,46.000,87.000,362.250,0.000,362.250
50%,20213.000,1655.000,818.000,837.000,161.000,255.000,264.000,239.000,257.000,418.000,82.000,124.000,137.000,125.000,130.000,190.000,78.000,129.000,126.000,115.000,125.000,225.000,884.000,0.000,884.000
75%,20223.000,3361.000,1641.000,1717.000,348.000,537.000,557.000,493.000,529.000,842.000,180.000,261.000,286.000,254.000,265.000,386.000,168.000,274.000,266.000,242.750,263.000,459.000,1765.000,0.000,1765.000
max,20232.000,21341.000,10459.000,10882.000,3301.000,4457.000,4207.000,4280.000,3161.000,5181.000,1662.000,2161.000,2148.000,2235.000,1577.000,2260.000,1639.000,2812.000,2070.000,2045.000,1603.000,2921.000,8900.000,0.000,8900.000

### 0인 값 확인

In [90]:
col = list(resident_popul.columns)

for i in col:
    print(f'{i} : {len(resident_popul[resident_popul[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_상주인구_수 : 0
남성_상주인구_수 : 15
여성_상주인구_수 : 118
연령대_10_상주인구_수 : 591
연령대_20_상주인구_수 : 359
연령대_30_상주인구_수 : 240
연령대_40_상주인구_수 : 192
연령대_50_상주인구_수 : 139
연령대_60_이상_상주인구_수 : 81
남성연령대_10_상주인구_수 : 827
남성연령대_20_상주인구_수 : 462
남성연령대_30_상주인구_수 : 330
남성연령대_40_상주인구_수 : 307
남성연령대_50_상주인구_수 : 193
남성연령대_60_이상_상주인구_수 : 123
여성연령대_10_상주인구_수 : 830
여성연령대_20_상주인구_수 : 660
여성연령대_30_상주인구_수 : 520
여성연령대_40_상주인구_수 : 475
여성연령대_50_상주인구_수 : 354
여성연령대_60_이상_상주인구_수 : 225
총_가구_수 : 0
아파트_가구_수 : 24486
비_아파트_가구_수 : 0

## 생활인구(길단위인구)

### 데이터 확인

In [91]:
living_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29697 entries, 0 to 29696
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   기준_년분기_코드         29697 non-null  int64
 1   상권_구분_코드_명        29697 non-null  object
 2   상권_코드_명           29697 non-null  object
 3   총_유동인구_수          29697 non-null  int64
 4   남성_유동인구_수         29697 non-null  int64
 5   여성_유동인구_수         29697 non-null  int64
 6   연령대_10_유동인구_수     29697 non-null  int64
 7   연령대_20_유동인구_수     29697 non-null  int64
 8   연령대_30_유동인구_수     29697 non-null  int64
 9   연령대_40_유동인구_수     29697 non-null  int64
 10  연령대_50_유동인구_수     29697 non-null  int64
 11  연령대_60_이상_유동인구_수  29697 non-null  int64
 12  시간대_00_06_유동인구_수  29697 non-null  int64
 13  시간대_06_11_유동인구_수  29697 non-null  int64
 14  시간대_11_14_유동인구_수  29697 non-null  int64
 15  시간대_14_17_유동인구_수  29697 non-null  int64
 16  시간대_17_21_유동인구_수  29697 non-null  int64
 17  시간대_21_24_유동인구_수  29697 non-null  int64
 18  월요일_유동인구_수        29697 non-null  int64
 19  화요일_유동인구_수        29697 non-null  int64
 20  수요일_유동인구_수        29697 non-null  int64
 21  목요일_유동인구_수        29697 non-null  int64
 22  금요일_유동인구_수        29697 non-null  int64
 23  토요일_유동인구_수        29697 non-null  int64
 24  일요일_유동인구_수        29697 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [92]:
living_popul.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
0,20232,관광특구,강남 마이스 관광특구,111108,55410,55701,8166,22991,30577,25065,14072,10238,6229,21293,26819,27393,23286,6089,14719,16219,17924,18904,18166,13814,11365
1,20232,관광특구,잠실 관광특구,4116726,1990065,2126663,435009,892236,998085,697884,511829,581684,692499,759858,636989,664699,892447,470235,573616,573593,580418,591168,606887,622115,568929
2,20232,관광특구,종로·청계 관광특구,8580607,4570612,4009996,322394,1490540,1649310,1625177,1528185,1965000,880985,1678321,1815991,1823148,1715164,666997,1305495,1351576,1393885,1401446,1371576,998401,758227
3,20232,관광특구,동대문패션타운 관광특구,3408217,1607340,1800878,188050,599556,811807,662983,532738,613083,698524,681150,517159,509141,588415,413828,527152,537106,543815,546958,506829,373125,373231
4,20232,관광특구,명동 남대문 북창동 다동 무교동 관광특구,7258225,3500135,3758090,304018,1221932,1764290,1635316,1174656,1158013,406335,1528984,1820261,1785956,1355004,361685,1104058,1189462,1242379,1237291,1174209,733393,577432

### 결측값 확인

In [93]:
living_popul.isnull().sum()

기준_년분기_코드           0
상권_구분_코드_명          0
상권_코드_명             0
총_유동인구_수            0
남성_유동인구_수           0
여성_유동인구_수           0
연령대_10_유동인구_수       0
연령대_20_유동인구_수       0
연령대_30_유동인구_수       0
연령대_40_유동인구_수       0
연령대_50_유동인구_수       0
연령대_60_이상_유동인구_수    0
시간대_00_06_유동인구_수    0
시간대_06_11_유동인구_수    0
시간대_11_14_유동인구_수    0
시간대_14_17_유동인구_수    0
시간대_17_21_유동인구_수    0
시간대_21_24_유동인구_수    0
월요일_유동인구_수          0
화요일_유동인구_수          0
수요일_유동인구_수          0
목요일_유동인구_수          0
금요일_유동인구_수          0
토요일_유동인구_수          0
일요일_유동인구_수          0
dtype: int64

### 기술통계량

In [94]:
living_popul.describe()

,기준_년분기_코드,총_유동인구_수,남성_유동인구_수,여성_유동인구_수,연령대_10_유동인구_수,연령대_20_유동인구_수,연령대_30_유동인구_수,연령대_40_유동인구_수,연령대_50_유동인구_수,연령대_60_이상_유동인구_수,시간대_00_06_유동인구_수,시간대_06_11_유동인구_수,시간대_11_14_유동인구_수,시간대_14_17_유동인구_수,시간대_17_21_유동인구_수,시간대_21_24_유동인구_수,월요일_유동인구_수,화요일_유동인구_수,수요일_유동인구_수,목요일_유동인구_수,금요일_유동인구_수,토요일_유동인구_수,일요일_유동인구_수
count,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000,29697.000
mean,20210.165,849217.987,404971.270,444246.732,108673.070,148973.201,148289.672,135170.407,123309.663,184802.052,203800.421,172940.710,109577.727,110729.237,147129.064,105040.900,121943.887,122632.544,122783.235,122711.182,122494.164,119253.399,117399.659
std,13.005,900861.874,438111.228,466613.121,115374.084,208560.138,178913.250,148411.424,129136.332,191047.747,215107.128,179918.266,132977.721,136754.309,167214.920,110024.962,130296.575,132288.627,132463.082,132664.958,132914.810,125689.980,120948.568
min,20191.000,12.000,12.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20201.000,239327.000,113706.000,124188.000,27047.000,34230.000,37872.000,38613.000,35226.000,50992.000,50676.000,48650.000,30552.000,30828.000,41091.000,27878.000,34231.000,34320.000,34408.000,34375.000,34290.000,32940.000,32515.000
50%,20211.000,586127.000,278176.000,305876.000,73190.000,87095.000,95816.000,92482.000,84841.000,129419.000,135331.000,119947.000,74229.000,74596.000,99182.000,71533.000,84182.000,84419.000,84641.000,84498.000,84212.000,82137.000,80924.000
75%,20222.000,1161575.000,552521.000,608168.000,152237.000,186438.000,191694.000,183294.000,171928.000,258293.000,285456.000,238004.000,144099.000,144545.000,197986.000,145049.000,167551.000,168174.000,168155.000,168030.000,167162.000,163242.000,161435.000
max,20232.000,10936954.000,5904661.000,5075322.000,2025696.000,3487417.000,2147251.000,1926666.000,1896481.000,2789894.000,2637438.000,1947241.000,2251342.000,2437343.000,2319158.000,1092221.000,1636435.000,1723636.000,1730759.000,1783350.000,1802017.000,1425047.000,1338150.000

### 0인 값 확인

In [95]:
col = list(living_popul.columns)

for i in col:
    print(f'{i} : {len(living_popul[living_popul[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_유동인구_수 : 0
남성_유동인구_수 : 0
여성_유동인구_수 : 3
연령대_10_유동인구_수 : 17
연령대_20_유동인구_수 : 7
연령대_30_유동인구_수 : 6
연령대_40_유동인구_수 : 3
연령대_50_유동인구_수 : 3
연령대_60_이상_유동인구_수 : 2
시간대_00_06_유동인구_수 : 7
시간대_06_11_유동인구_수 : 0
시간대_11_14_유동인구_수 : 0
시간대_14_17_유동인구_수 : 1
시간대_17_21_유동인구_수 : 3
시간대_21_24_유동인구_수 : 18
월요일_유동인구_수 : 2
화요일_유동인구_수 : 2
수요일_유동인구_수 : 1
목요일_유동인구_수 : 1
금요일_유동인구_수 : 3
토요일_유동인구_수 : 2
일요일_유동인구_수 : 3

## 상권변화지표
### 기각

### 데이터 확인

In [96]:
indicator.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29700 entries, 0 to 29699
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   기준_년분기_코드       29700 non-null  int64
 1   상권_구분_코드_명      29700 non-null  object
 2   상권_코드_명         29700 non-null  object
 3   상권_변화_지표_명      29700 non-null  object
 4   운영_영업_개월_평균     29700 non-null  int64
 5   폐업_영업_개월_평균     29700 non-null  int64
 6   서울_운영_영업_개월_평균  29700 non-null  int64
 7   서울_폐업_영업_개월_평균  29700 non-null  int64
dtypes: int64(5), object(3)
memory usage: 1.8+ MB

In [97]:
indicator.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,20231,골목상권,종암초등학교,정체,114,67,104,52
1,20231,골목상권,우이천 계성교,다이나믹,74,49,104,52
2,20231,골목상권,연산군묘,다이나믹,94,39,104,52
3,20231,골목상권,서울국제고등학교,상권축소,105,48,104,52
4,20231,골목상권,사당역 4번,상권확장,99,53,104,52

### 결측값 확인

In [98]:
indicator.isnull().sum()

기준_년분기_코드         0
상권_구분_코드_명        0
상권_코드_명           0
상권_변화_지표_명        0
운영_영업_개월_평균       0
폐업_영업_개월_평균       0
서울_운영_영업_개월_평균    0
서울_폐업_영업_개월_평균    0
dtype: int64

### 기술통계량

In [99]:
indicator.describe()

       기준_년분기_코드  운영_영업_개월_평균  폐업_영업_개월_평균  서울_운영_영업_개월_평균  서울_폐업_영업_개월_평균
count  29700.000    29700.000    29700.000       29700.000       29700.000
mean   20210.167       99.265       50.749          96.889          50.222
std       13.006       23.018        8.408           3.943           1.083
min    20191.000        0.000       20.000          93.000          48.000
25%    20201.000       86.000       46.000          94.000          49.000
50%    20211.500       96.000       49.000          96.000          50.000
75%    20222.000      109.000       54.000          99.000          51.000
max    20232.000      309.000      123.000         106.000          52.000

### 0인 값 확인

In [100]:
col = list(indicator.columns)

for i in col:
    print(f'{i} : {len(indicator[indicator[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
상권_변화_지표_명 : 0
운영_영업_개월_평균 : 36
폐업_영업_개월_평균 : 0
서울_운영_영업_개월_평균 : 0
서울_폐업_영업_개월_평균 : 0

## 아파트
### 기각

### 데이터 확인

In [101]:
apartment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22117 entries, 0 to 22116
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   기준_년분기_코드               22117 non-null  int64
 1   상권_구분_코드_명              22117 non-null  object
 2   상권_코드_명                 22117 non-null  object
 3   아파트_단지_수                22117 non-null  int64
 4   아파트_면적_66_제곱미터_미만_세대_수  21579 non-null  float64
 5   아파트_면적_66_제곱미터_세대_수     20375 non-null  float64
 6   아파트_면적_99_제곱미터_세대_수     14043 non-null  float64
 7   아파트_면적_132_제곱미터_세대_수    7551 non-null   float64
 8   아파트_면적_165_제곱미터_세대_수    4652 non-null   float64
 9   아파트_가격_1_억_미만_세대_수      17927 non-null  float64
 10  아파트_가격_1_억_세대_수         20647 non-null  float64
 11  아파트_가격_2_억_세대_수         19800 non-null  float64
 12  아파트_가격_3_억_세대_수         14029 non-null  float64
 13  아파트_가격_4_억_세대_수         9061 non-null   float64
 14  아파트_가격_5_억_세대_수         6249 non-null   float64
 15  아파트_가격_6_억_이상_세대_수      5504 non-null   float64
 16  아파트_평균_면적               22117 non-null  int64
 17  아파트_평균_시가               22117 non-null  int64
dtypes: float64(12), int64(4), object(2)
memory usage: 3.0+ MB

In [102]:
apartment.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
0,20232,골목상권,충신시장옆,1,12.000,NaN,NaN,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,22,121500000
1,20232,골목상권,용두사거리,1,12.000,NaN,NaN,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN,15,73266667
2,20232,골목상권,정독도서관,10,15.000,15.000,1.000,NaN,22.000,6.000,10.000,8.000,7.000,NaN,NaN,22.000,164,1153964394
3,20232,골목상권,아현역 4번,1,2.000,1.000,NaN,NaN,NaN,NaN,NaN,2.000,1.000,NaN,NaN,NaN,63,272666667
4,20232,골목상권,도봉구민회관,19,183.000,2.000,NaN,NaN,NaN,130.000,55.000,NaN,NaN,NaN,NaN,NaN,43,97137276

### 결측값 확인

In [103]:
apartment.isnull().sum()

기준_년분기_코드                     0
상권_구분_코드_명                    0
상권_코드_명                       0
아파트_단지_수                      0
아파트_면적_66_제곱미터_미만_세대_수      538
아파트_면적_66_제곱미터_세대_수        1742
아파트_면적_99_제곱미터_세대_수        8074
아파트_면적_132_제곱미터_세대_수      14566
아파트_면적_165_제곱미터_세대_수      17465
아파트_가격_1_억_미만_세대_수         4190
아파트_가격_1_억_세대_수            1470
아파트_가격_2_억_세대_수            2317
아파트_가격_3_억_세대_수            8088
아파트_가격_4_억_세대_수           13056
아파트_가격_5_억_세대_수           15868
아파트_가격_6_억_이상_세대_수        16613
아파트_평균_면적                     0
아파트_평균_시가                     0
dtype: int64

### 기술통계량

In [104]:
apartment.describe()

,기준_년분기_코드,아파트_단지_수,아파트_면적_66_제곱미터_미만_세대_수,아파트_면적_66_제곱미터_세대_수,아파트_면적_99_제곱미터_세대_수,아파트_면적_132_제곱미터_세대_수,아파트_면적_165_제곱미터_세대_수,아파트_가격_1_억_미만_세대_수,아파트_가격_1_억_세대_수,아파트_가격_2_억_세대_수,아파트_가격_3_억_세대_수,아파트_가격_4_억_세대_수,아파트_가격_5_억_세대_수,아파트_가격_6_억_이상_세대_수,아파트_평균_면적,아파트_평균_시가
count,22117.000,22117.000,21579.000,20375.000,14043.000,7551.000,4652.000,17927.000,20647.000,19800.000,14029.000,9061.000,6249.000,5504.000,22117.000,22117.000
mean,20213.734,45.918,364.338,99.916,19.172,18.310,23.798,91.543,248.972,105.949,49.745,32.960,24.405,70.424,55.965,231266358.558
std,11.115,59.183,459.414,129.397,35.723,49.397,52.064,152.883,343.456,151.446,78.558,52.209,39.000,133.007,20.361,200235871.665
min,20194.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,13.000,22819512.000
25%,20203.000,8.000,69.000,18.000,2.000,1.000,1.000,12.000,41.000,15.000,5.000,4.000,3.000,6.000,48.000,141161848.000
50%,20213.000,27.000,209.000,57.000,7.000,4.000,6.000,40.000,130.000,52.000,19.000,13.000,11.000,24.000,52.000,174152153.000
75%,20223.000,61.000,489.000,128.000,21.000,16.000,23.000,108.000,328.000,131.000,60.000,42.000,29.000,72.250,59.000,235297591.000
max,20232.000,725.000,5784.000,1242.000,518.000,837.000,720.000,1766.000,4572.000,1227.000,824.000,634.000,408.000,1234.000,234.000,2570164683.000

### 0인 값 확인

In [105]:
col = list(apartment.columns)

for i in col:
    print(f'{i} : {len(apartment[apartment[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
아파트_단지_수 : 0
아파트_면적_66_제곱미터_미만_세대_수 : 0
아파트_면적_66_제곱미터_세대_수 : 0
아파트_면적_99_제곱미터_세대_수 : 0
아파트_면적_132_제곱미터_세대_수 : 0
아파트_면적_165_제곱미터_세대_수 : 0
아파트_가격_1_억_미만_세대_수 : 0
아파트_가격_1_억_세대_수 : 0
아파트_가격_2_억_세대_수 : 0
아파트_가격_3_억_세대_수 : 0
아파트_가격_4_억_세대_수 : 0
아파트_가격_5_억_세대_수 : 0
아파트_가격_6_억_이상_세대_수 : 0
아파트_평균_면적 : 0
아파트_평균_시가 : 0

## 소득소비
### 기각

### 데이터 확인

In [106]:
income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29352 entries, 0 to 29351
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   기준_년분기_코드     29352 non-null  int64
 1   상권_구분_코드_명    29352 non-null  object
 2   상권_코드_명       29352 non-null  object
 3   월_평균_소득_금액    29196 non-null  float64
 4   소득_구간_코드      29196 non-null  float64
 5   지출_총금액        28728 non-null  float64
 6   식료품_지출_총금액    28728 non-null  float64
 7   의류_신발_지출_총금액  28728 non-null  float64
 8   생활용품_지출_총금액   28728 non-null  float64
 9   의료비_지출_총금액    28728 non-null  float64
 10  교통_지출_총금액     28728 non-null  float64
 11  여가_지출_총금액     28728 non-null  float64
 12  문화_지출_총금액     28728 non-null  float64
 13  교육_지출_총금액     28728 non-null  float64
 14  유흥_지출_총금액     28728 non-null  float64
dtypes: float64(12), int64(1), object(2)
memory usage: 3.4+ MB

In [107]:
income.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
0,20231,골목상권,세검정,3768541.000,8.000,884701599.000,221446948.000,109882417.000,64738346.000,111988892.000,149822911.000,37478670.000,25606895.000,126544371.000,37192149.000
1,20231,골목상권,부암동주민센터,3963935.000,8.000,267177363.000,71242932.000,32618743.000,19192280.000,36992515.000,42702682.000,11024632.000,7714004.000,34834591.000,10854984.000
2,20231,골목상권,양천향교역 7번,3402010.000,7.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20231,골목상권,강일동주민센터,2810845.000,6.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20231,발달상권,마포역,4775524.000,8.000,1235066290.000,313433453.000,153785396.000,101704583.000,152797065.000,199377966.000,60828402.000,38716680.000,165765532.000,48657213.000

### 결측값 확인

In [108]:
income.isnull().sum()

기준_년분기_코드         0
상권_구분_코드_명        0
상권_코드_명           0
월_평균_소득_금액      156
소득_구간_코드        156
지출_총금액          624
식료품_지출_총금액      624
의류_신발_지출_총금액    624
생활용품_지출_총금액     624
의료비_지출_총금액      624
교통_지출_총금액       624
여가_지출_총금액       624
문화_지출_총금액       624
교육_지출_총금액       624
유흥_지출_총금액       624
dtype: int64

### 기술통계량

In [109]:
income.describe()

,기준_년분기_코드,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,의류_신발_지출_총금액,생활용품_지출_총금액,의료비_지출_총금액,교통_지출_총금액,여가_지출_총금액,문화_지출_총금액,교육_지출_총금액,유흥_지출_총금액
count,29352.000,29196.000,29196.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000,28728.000
mean,20210.170,2814785.489,5.993,1274063500.184,328413715.550,156066552.823,95722531.076,161838922.852,208888922.365,49672751.506,39506906.659,179742538.658,54210658.695
std,13.004,775144.207,1.146,1266315425.426,318036656.355,155430150.292,95770596.896,156572132.868,214495156.106,50670202.409,38843800.429,192502359.131,53976490.986
min,20191.000,649133.000,1.000,860610.000,365339.000,78895.000,62659.000,192382.000,58449.000,19735.000,29962.000,29291.000,23898.000
25%,20201.000,2349929.000,5.000,378684214.500,99067604.500,46189619.750,28275767.250,48932633.000,59103826.000,14406709.250,11677444.250,46505131.000,15961857.000
50%,20212.000,2588915.000,6.000,889081357.500,233489549.500,109335704.500,66585219.500,114816100.500,145452130.500,34706214.500,28076636.000,121460647.500,37539108.500
75%,20222.000,3027040.500,7.000,1738319884.000,452201036.000,212940425.500,131399023.750,221417252.000,281813879.750,67400142.750,54955950.250,244608280.750,74240007.500
max,20232.000,9293344.000,10.000,11860857850.000,2831710148.000,1422401809.000,836222917.000,1405356886.000,2085556200.000,468534099.000,344208853.000,2017890952.000,501382923.000

### 0인 값 확인

In [110]:
col = list(income.columns)

for i in col:
    print(f'{i} : {len(income[income[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
월_평균_소득_금액 : 0
소득_구간_코드 : 0
지출_총금액 : 0
식료품_지출_총금액 : 0
의류_신발_지출_총금액 : 0
생활용품_지출_총금액 : 0
의료비_지출_총금액 : 0
교통_지출_총금액 : 0
여가_지출_총금액 : 0
문화_지출_총금액 : 0
교육_지출_총금액 : 0
유흥_지출_총금액 : 0

## 영역

### 데이터 확인

In [111]:
area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1650 entries, 0 to 1649
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   상권_구분_코드_명  1650 non-null   object
 1   상권_코드_명     1650 non-null   object
 2   엑스좌표_값      1650 non-null   int64
 3   와이좌표_값      1650 non-null   int64
 4   자치구_코드_명    1650 non-null   object
 5   행정동_코드_명    1650 non-null   object
 6   영역_면적       1650 non-null   int64
dtypes: int64(3), object(4)
memory usage: 90.4+ KB

In [112]:
area.head()

  상권_구분_코드_명          상권_코드_명  엑스좌표_값  와이좌표_값 자치구_코드_명 행정동_코드_명   영역_면적
0       골목상권  배화여자대학교(박노수미술관)  197093  453418      종로구    청운효자동  149264
1       골목상권            자하문터널  196991  455057      종로구      부암동  178306
2       골목상권            평창동서측  197064  456643      종로구      평창동  369415
3       골목상권            정독도서관  198581  453781      종로구      가회동   83855
4       골목상권           중앙고등학교  198883  453690      종로구      가회동  166872

### 결측값 확인

In [113]:
area.isnull().sum()

상권_구분_코드_명    0
상권_코드_명       0
엑스좌표_값        0
와이좌표_값        0
자치구_코드_명      0
행정동_코드_명      0
영역_면적         0
dtype: int64

### 기술통계량

In [114]:
area.describe()

          엑스좌표_값     와이좌표_값       영역_면적
count   1650.000   1650.000    1650.000
mean  198981.845 449875.452   99927.952
std     7280.721   5590.503  118818.943
min   182509.000 437249.000    1854.000
25%   192815.250 445178.500   35330.000
50%   200096.000 449849.500   71927.500
75%   204366.250 453563.500  128147.250
max   215352.000 465573.000 2462734.000

### 0인 값 확인

In [115]:
col = list(area.columns)

for i in col:
    print(f'{i} : {len(area[area[i] == 0])}')

상권_구분_코드_명 : 0
상권_코드_명 : 0
엑스좌표_값 : 0
와이좌표_값 : 0
자치구_코드_명 : 0
행정동_코드_명 : 0
영역_면적 : 0

## 집객시설

### 데이터 확인

In [116]:
facilitie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17358 entries, 0 to 17357
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   기준_년분기_코드   17358 non-null  int64
 1   상권_구분_코드_명  17358 non-null  object
 2   상권_코드_명     17358 non-null  object
 3   집객시설_수      17358 non-null  int64
 4   관공서_수       6930 non-null   float64
 5   은행_수        5357 non-null   float64
 6   종합병원_수      253 non-null    float64
 7   일반_병원_수     1452 non-null   float64
 8   약국_수        11099 non-null  float64
 9   유치원_수       1661 non-null   float64
 10  초등학교_수      143 non-null    float64
 11  중학교_수       44 non-null     float64
 12  고등학교_수      121 non-null    float64
 13  대학교_수       924 non-null    float64
 14  백화점_수       121 non-null    float64
 15  슈퍼마켓_수      1155 non-null   float64
 16  극장_수        924 non-null    float64
 17  숙박_시설_수     1595 non-null   float64
 18  공항_수        11 non-null     float64
 19  철도_역_수      0 non-null      float64
 20  버스_터미널_수    22 non-null     float64
 21  지하철_역_수     2145 non-null   float64
 22  버스_정거장_수    13970 non-null  float64
dtypes: float64(19), int64(2), object(2)
memory usage: 3.0+ MB

In [117]:
facilitie.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
0,20232,골목상권,동묘앞역 2번,15,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,NaN,NaN,NaN,NaN,4.000
1,20232,골목상권,목동로데오거리,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20231,골목상권,동묘앞역 2번,15,1.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000,NaN,NaN,NaN,NaN,4.000
3,20232,골목상권,청운초등학교,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000
4,20231,골목상권,청운초등학교,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000

### 결측값 확인

In [118]:
facilitie.isnull().sum()

기준_년분기_코드         0
상권_구분_코드_명        0
상권_코드_명           0
집객시설_수            0
관공서_수         10428
은행_수          12001
종합병원_수        17105
일반_병원_수       15906
약국_수           6259
유치원_수         15697
초등학교_수        17215
중학교_수         17314
고등학교_수        17237
대학교_수         16434
백화점_수         17237
슈퍼마켓_수        16203
극장_수          16434
숙박_시설_수       15763
공항_수          17347
철도_역_수        17358
버스_터미널_수      17336
지하철_역_수       15213
버스_정거장_수       3388
dtype: int64

### 기술통계량

In [119]:
facilitie.describe()

,기준_년분기_코드,집객시설_수,관공서_수,은행_수,종합병원_수,일반_병원_수,약국_수,유치원_수,초등학교_수,중학교_수,고등학교_수,대학교_수,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수
count,17358.000,17358.000,6930.000,5357.000,253.000,1452.000,11099.000,1661.000,143.000,44.000,121.000,924.000,121.000,1155.000,924.000,1595.000,11.000,0.000,22.000,2145.000,13970.000
mean,20218.818,20.871,1.741,3.287,1.043,1.280,3.690,1.166,1.000,1.000,1.182,1.643,1.091,1.533,1.357,2.317,4.000,NaN,1.000,1.421,4.841
std,8.343,32.261,1.272,4.677,0.204,0.607,4.532,0.569,0.000,0.000,0.577,1.232,0.289,1.220,0.766,2.570,0.000,NaN,0.000,0.743,5.097
min,20204.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,1.000
25%,20212.000,5.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,2.000
50%,20221.000,12.000,1.000,2.000,1.000,1.000,2.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,1.000,4.000,NaN,1.000,1.000,3.000
75%,20224.000,23.000,2.000,4.000,1.000,1.000,4.000,1.000,1.000,1.000,1.000,2.000,1.000,2.000,1.000,2.000,4.000,NaN,1.000,2.000,6.000
max,20232.000,594.000,14.000,57.000,2.000,4.000,52.000,6.000,1.000,1.000,3.000,7.000,2.000,8.000,5.000,18.000,4.000,NaN,1.000,5.000,85.000

### 0인 값 확인

In [120]:
col = list(facilitie.columns)

for i in col:
    print(f'{i} : {len(facilitie[facilitie[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
집객시설_수 : 0
관공서_수 : 0
은행_수 : 0
종합병원_수 : 0
일반_병원_수 : 0
약국_수 : 0
유치원_수 : 0
초등학교_수 : 0
중학교_수 : 0
고등학교_수 : 0
대학교_수 : 0
백화점_수 : 0
슈퍼마켓_수 : 0
극장_수 : 0
숙박_시설_수 : 0
공항_수 : 0
철도_역_수 : 0
버스_터미널_수 : 0
지하철_역_수 : 0
버스_정거장_수 : 0

## 직장인구

### 데이터 확인

In [121]:
working_popul.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25989 entries, 0 to 25988
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   기준_년분기_코드            25989 non-null  int64
 1   상권_구분_코드_명           25989 non-null  object
 2   상권_코드_명              25989 non-null  object
 3   총_직장_인구_수            25989 non-null  int64
 4   남성_직장_인구_수           25989 non-null  int64
 5   여성_직장_인구_수           25989 non-null  int64
 6   연령대_10_직장_인구_수       25989 non-null  int64
 7   연령대_20_직장_인구_수       25989 non-null  int64
 8   연령대_30_직장_인구_수       25989 non-null  int64
 9   연령대_40_직장_인구_수       25989 non-null  int64
 10  연령대_50_직장_인구_수       25989 non-null  int64
 11  연령대_60_이상_직장_인구_수    25989 non-null  int64
 12  남성연령대_10_직장_인구_수     25989 non-null  int64
 13  남성연령대_20_직장_인구_수     25989 non-null  int64
 14  남성연령대_30_직장_인구_수     25989 non-null  int64
 15  남성연령대_40_직장_인구_수     25989 non-null  int64
 16  남성연령대_50_직장_인구_수     25989 non-null  int64
 17  남성연령대_60_이상_직장_인구_수  25989 non-null  int64
 18  여성연령대_10_직장_인구_수     25989 non-null  int64
 19  여성연령대_20_직장_인구_수     25989 non-null  int64
 20  여성연령대_30_직장_인구_수     25989 non-null  int64
 21  여성연령대_40_직장_인구_수     25989 non-null  int64
 22  여성연령대_50_직장_인구_수     25989 non-null  int64
 23  여성연령대_60_이상_직장_인구_수  25989 non-null  int64
dtypes: int64(22), object(2)
memory usage: 4.8+ MB

In [122]:
working_popul.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,20191,골목상권,체부동홍종문가옥,87,57,30,0,11,25,20,19,12,0,2,18,14,13,10,0,9,7,6,6,2
1,20191,발달상권,신설동역,11307,4711,6596,32,1358,2643,3377,2575,1322,12,439,1343,1338,898,681,20,919,1300,2039,1677,641
2,20191,골목상권,서울대병원,131,46,85,3,34,16,27,33,18,2,7,6,9,10,12,1,27,10,18,23,6
3,20191,전통시장,충신시장,342,201,141,4,76,107,87,54,14,3,39,72,47,30,10,1,37,35,40,24,4
4,20191,전통시장,동대문문구완구거리(동대문문구완구시장),271,166,105,0,20,55,74,66,56,0,10,40,45,40,31,0,10,15,29,26,25

### 결측값 확인

In [123]:
working_popul.isnull().sum()

기준_년분기_코드              0
상권_구분_코드_명             0
상권_코드_명                0
총_직장_인구_수              0
남성_직장_인구_수             0
여성_직장_인구_수             0
연령대_10_직장_인구_수         0
연령대_20_직장_인구_수         0
연령대_30_직장_인구_수         0
연령대_40_직장_인구_수         0
연령대_50_직장_인구_수         0
연령대_60_이상_직장_인구_수      0
남성연령대_10_직장_인구_수       0
남성연령대_20_직장_인구_수       0
남성연령대_30_직장_인구_수       0
남성연령대_40_직장_인구_수       0
남성연령대_50_직장_인구_수       0
남성연령대_60_이상_직장_인구_수    0
여성연령대_10_직장_인구_수       0
여성연령대_20_직장_인구_수       0
여성연령대_30_직장_인구_수       0
여성연령대_40_직장_인구_수       0
여성연령대_50_직장_인구_수       0
여성연령대_60_이상_직장_인구_수    0
dtype: int64

### 기술통계량

In [124]:
working_popul.describe()

,기준_년분기_코드,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,연령대_50_직장_인구_수,연령대_60_이상_직장_인구_수,남성연령대_10_직장_인구_수,남성연령대_20_직장_인구_수,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
count,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000,25989.000
mean,20212.358,1811.118,1060.121,750.997,7.858,344.907,506.540,443.660,327.295,180.859,3.362,150.044,296.656,283.567,205.259,121.233,4.495,194.863,209.884,160.092,122.036,59.626
std,12.108,6487.464,3801.180,2787.647,44.467,1425.882,2053.807,1647.218,1066.792,468.387,19.451,603.798,1199.913,1096.211,699.621,308.133,25.992,853.122,890.728,586.563,434.896,178.393
min,20191.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20202.000,111.000,55.000,44.000,0.000,11.000,20.000,27.000,25.000,17.000,0.000,4.000,10.000,14.000,13.000,10.000,0.000,5.000,8.000,11.000,10.000,4.000
50%,20212.000,321.000,177.000,130.000,0.000,35.000,58.000,75.000,75.000,48.000,0.000,14.000,31.000,42.000,41.000,32.000,0.000,20.000,25.000,32.000,30.000,14.000
75%,20222.000,894.000,528.000,351.000,3.000,126.000,200.000,210.000,196.000,136.000,1.000,55.000,117.000,129.000,118.000,97.000,1.000,64.000,80.000,82.000,71.000,40.000
max,20232.000,174313.000,85786.000,92086.000,1365.000,43472.000,57809.000,42869.000,23136.000,9357.000,604.000,14967.000,28790.000,24162.000,16294.000,6577.000,762.000,29698.000,32760.000,19197.000,10550.000,3412.000

### 0인 값 확인

In [125]:
col = list(working_popul.columns)

for i in col:
    print(f'{i} : {len(working_popul[working_popul[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
총_직장_인구_수 : 0
남성_직장_인구_수 : 60
여성_직장_인구_수 : 45
연령대_10_직장_인구_수 : 13642
연령대_20_직장_인구_수 : 959
연령대_30_직장_인구_수 : 337
연령대_40_직장_인구_수 : 198
연령대_50_직장_인구_수 : 166
연령대_60_이상_직장_인구_수 : 476
남성연령대_10_직장_인구_수 : 16761
남성연령대_20_직장_인구_수 : 2281
남성연령대_30_직장_인구_수 : 922
남성연령대_40_직장_인구_수 : 496
남성연령대_50_직장_인구_수 : 384
남성연령대_60_이상_직장_인구_수 : 636
여성연령대_10_직장_인구_수 : 16797
여성연령대_20_직장_인구_수 : 1695
여성연령대_30_직장_인구_수 : 1063
여성연령대_40_직장_인구_수 : 608
여성연령대_50_직장_인구_수 : 606
여성연령대_60_이상_직장_인구_수 : 1433

## 점포

### 데이터 확인

In [126]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   기준_년분기_코드    1048575 non-null  int64
 1   상권_구분_코드_명   1048575 non-null  object
 2   상권_코드_명      1048575 non-null  object
 3   서비스_업종_코드_명  1048575 non-null  object
 4   점포_수         1048575 non-null  int64
 5   유사_업종_점포_수   1048575 non-null  int64
 6   개업_율         1048575 non-null  int64
 7   개업_점포_수      1048575 non-null  int64
 8   폐업_률         1048575 non-null  int64
 9   폐업_점포_수      1048575 non-null  int64
 10  프랜차이즈_점포_수   1048575 non-null  int64
dtypes: int64(8), object(3)
memory usage: 88.0+ MB

In [127]:
store.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,20191,전통시장,동대문문구완구거리(동대문문구완구시장),전자상거래업,10,10,10,1,0,0,0
1,20191,발달상권,서래마을카페거리(서래마을),치킨전문점,0,1,0,0,100,1,1
2,20191,발달상권,신논현역 1번,가방,3,3,0,0,0,0,0
3,20191,골목상권,서연중학교,사진관,6,6,17,1,0,0,0
4,20191,골목상권,먹골역 5번,조명용품,2,2,0,0,0,0,0

### 결측값 확인

In [128]:
store.isnull().sum()

기준_년분기_코드      0
상권_구분_코드_명     0
상권_코드_명        0
서비스_업종_코드_명    0
점포_수           0
유사_업종_점포_수     0
개업_율           0
개업_점포_수        0
폐업_률           0
폐업_점포_수        0
프랜차이즈_점포_수     0
dtype: int64

### 기술통계량

In [129]:
store.describe()

,기준_년분기_코드,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
count,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000,1048575.000
mean,20205.179,5.971,6.445,3.006,0.206,2.257,0.159,0.474
std,10.063,46.531,46.911,12.419,1.348,12.201,1.288,2.329
min,20191.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20194.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000
50%,20204.000,2.000,2.000,0.000,0.000,0.000,0.000,0.000
75%,20213.000,4.000,5.000,0.000,0.000,0.000,0.000,0.000
max,20222.000,10249.000,10268.000,200.000,479.000,4800.000,421.000,126.000

### 0인 값 확인

In [130]:
col = list(store.columns)

for i in col:
    print(f'{i} : {len(store[store[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
서비스_업종_코드_명 : 0
점포_수 : 40309
유사_업종_점포_수 : 7340
개업_율 : 920770
개업_점포_수 : 920597
폐업_률 : 948860
폐업_점포_수 : 941654
프랜차이즈_점포_수 : 884251

## 추정매출

### 데이터 확인

In [131]:
estimated_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204097 entries, 0 to 204096
Data columns (total 52 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   기준_년분기_코드        204097 non-null  int64
 1   상권_구분_코드_명       204097 non-null  object
 2   상권_코드_명          204097 non-null  object
 3   서비스_업종_코드_명      204097 non-null  object
 4   당월_매출_금액         204097 non-null  float64
 5   당월_매출_건수         204097 non-null  int64
 6   주중_매출_금액         204097 non-null  float64
 7   주말_매출_금액         204097 non-null  float64
 8   월요일_매출_금액        204097 non-null  float64
 9   화요일_매출_금액        204097 non-null  float64
 10  수요일_매출_금액        204097 non-null  float64
 11  목요일_매출_금액        204097 non-null  float64
 12  금요일_매출_금액        204097 non-null  float64
 13  토요일_매출_금액        204097 non-null  float64
 14  일요일_매출_금액        204097 non-null  float64
 15  시간대_00~06_매출_금액  204097 non-null  float64
 16  시간대_06~11_매출_금액  204097 non-null  float64
 17  시간대_11~14_매출_금액  204097 non-null  float64
 18  시간대_14~17_매출_금액  204097 non-null  float64
 19  시간대_17~21_매출_금액  204097 non-null  float64
 20  시간대_21~24_매출_금액  204097 non-null  int64
 21  남성_매출_금액         204097 non-null  float64
 22  여성_매출_금액         204097 non-null  float64
 23  연령대_10_매출_금액     204097 non-null  int64
 24  연령대_20_매출_금액     204097 non-null  int64
 25  연령대_30_매출_금액     204097 non-null  float64
 26  연령대_40_매출_금액     204097 non-null  float64
 27  연령대_50_매출_금액     204097 non-null  float64
 28  연령대_60_이상_매출_금액  204097 non-null  float64
 29  주중_매출_건수         204097 non-null  int64
 30  주말_매출_건수         204097 non-null  int64
 31  월요일_매출_건수        204097 non-null  int64
 32  화요일_매출_건수        204097 non-null  int64
 33  수요일_매출_건수        204097 non-null  int64
 34  목요일_매출_건수        204097 non-null  int64
 35  금요일_매출_건수        204097 non-null  int64
 36  토요일_매출_건수        204097 non-null  int64
 37  일요일_매출_건수        204097 non-null  int64
 38  시간대_건수~06_매출_건수  204097 non-null  int64
 39  시간대_건수~11_매출_건수  204097 non-null  int64
 40  시간대_건수~14_매출_건수  204097 non-null  int64
 41  시간대_건수~17_매출_건수  204097 non-null  int64
 42  시간대_건수~21_매출_건수  204097 non-null  int64
 43  시간대_건수~24_매출_건수  204097 non-null  int64
 44  남성_매출_건수         204097 non-null  int64
 45  여성_매출_건수         204097 non-null  int64
 46  연령대_10_매출_건수     204097 non-null  int64
 47  연령대_20_매출_건수     204097 non-null  int64
 48  연령대_30_매출_건수     204097 non-null  int64
 49  연령대_40_매출_건수     204097 non-null  int64
 50  연령대_50_매출_건수     204097 non-null  int64
 51  연령대_60_이상_매출_건수  204097 non-null  int64
dtypes: float64(21), int64(28), object(3)
memory usage: 81.0+ MB

In [132]:
estimated_sales.head()

,기준_년분기_코드,상권_구분_코드_명,상권_코드_명,서비스_업종_코드_명,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
0,20191,발달상권,동대문역사문화공원역,네일숍,20393290.000,208,17051978.000,3341312.000,10079574.000,0.000,3251302.000,1736638.000,1984464.000,596831.000,2744481.000,0.000,0.000,2806361.000,1883718.000,14209451.000,1493760,0.000,20393290.000,0,3494505,2724832.000,0.000,13673767.000,500186.000,176,32,73,0,49,36,18,14,18,0,0,56,39,86,27,0,208,0,56,21,0,123,8
1,20191,관광특구,명동 남대문 북창동 다동 무교동 관광특구,네일숍,73147711.000,2136,57025458.000,16122253.000,11704014.000,9926780.000,13925573.000,11094589.000,10374502.000,12816251.000,3306002.000,0.000,71676.000,13593203.000,18551907.000,39329730.000,1601195,3011932.000,70135779.000,0,20258941,34029326.000,8219377.000,7853565.000,2786502.000,1757,379,286,364,457,391,259,284,95,0,5,264,562,1270,35,59,2077,0,715,995,236,157,33
2,20191,골목상권,경리단길남측,네일숍,3000000.000,40,2337081.000,662919.000,0.000,604671.000,294118.000,705882.000,732410.000,477734.000,185185.000,0.000,555556.000,185185.000,826252.000,1026528.000,406479,0.000,3000000.000,0,479303,1604958.000,915739.000,0.000,0.000,32,8,0,5,6,12,9,6,2,0,1,2,14,14,9,0,40,0,8,28,5,0,0
3,20191,골목상권,구의1동주민센터,네일숍,8443798.000,153,4984275.000,3459523.000,0.000,0.000,1306931.000,2370413.000,1306931.000,2754805.000,704718.000,0.000,0.000,1153174.000,1588818.000,4420501.000,1281305,128130.000,8315668.000,0,1716948,5445545.000,1281305.000,0.000,0.000,89,64,0,0,25,38,26,38,26,0,0,26,50,64,13,13,140,0,52,88,13,0,0
4,20191,골목상권,중곡역 3번,네일숍,20756990.000,305,16694436.000,4062554.000,245090.000,565445.000,3744146.000,3384050.000,8755705.000,3355372.000,707182.000,0.000,0.000,2372621.000,3714210.000,12054755.000,2615404,419890.000,20337100.000,0,4348966,3810679.000,6738272.000,4159712.000,1699361.000,244,61,7,18,46,47,126,52,9,0,0,36,37,196,36,4,301,0,79,28,68,91,39

### 결측값 확인

In [133]:
estimated_sales.isnull().sum()

기준_년분기_코드          0
상권_구분_코드_명         0
상권_코드_명            0
서비스_업종_코드_명        0
당월_매출_금액           0
당월_매출_건수           0
주중_매출_금액           0
주말_매출_금액           0
월요일_매출_금액          0
화요일_매출_금액          0
수요일_매출_금액          0
목요일_매출_금액          0
금요일_매출_금액          0
토요일_매출_금액          0
일요일_매출_금액          0
시간대_00~06_매출_금액    0
시간대_06~11_매출_금액    0
시간대_11~14_매출_금액    0
시간대_14~17_매출_금액    0
시간대_17~21_매출_금액    0
시간대_21~24_매출_금액    0
남성_매출_금액           0
여성_매출_금액           0
연령대_10_매출_금액       0
연령대_20_매출_금액       0
연령대_30_매출_금액       0
연령대_40_매출_금액       0
연령대_50_매출_금액       0
연령대_60_이상_매출_금액    0
주중_매출_건수           0
주말_매출_건수           0
월요일_매출_건수          0
화요일_매출_건수          0
수요일_매출_건수          0
목요일_매출_건수          0
금요일_매출_건수          0
토요일_매출_건수          0
일요일_매출_건수          0
시간대_건수~06_매출_건수    0
시간대_건수~11_매출_건수    0
시간대_건수~14_매출_건수    0
시간대_건수~17_매출_건수    0
시간대_건수~21_매출_건수    0
시간대_건수~24_매출_건수    0
남성_매출_건수           0
여성_매출_건수           0
연령대_10_매출_건수       0
연령대_20_매출_건수       0
연령대_30_매출_건수       0
연령대_40_매출_건수       0
연령대_50_매출_건수       0
연령대_60_이상_매출_건수    0
dtype: int64

### 기술통계량

In [134]:
estimated_sales.describe()

,기준_년분기_코드,당월_매출_금액,당월_매출_건수,주중_매출_금액,주말_매출_금액,월요일_매출_금액,화요일_매출_금액,수요일_매출_금액,목요일_매출_금액,금요일_매출_금액,토요일_매출_금액,일요일_매출_금액,시간대_00~06_매출_금액,시간대_06~11_매출_금액,시간대_11~14_매출_금액,시간대_14~17_매출_금액,시간대_17~21_매출_금액,시간대_21~24_매출_금액,남성_매출_금액,여성_매출_금액,연령대_10_매출_금액,연령대_20_매출_금액,연령대_30_매출_금액,연령대_40_매출_금액,연령대_50_매출_금액,연령대_60_이상_매출_금액,주중_매출_건수,주말_매출_건수,월요일_매출_건수,화요일_매출_건수,수요일_매출_건수,목요일_매출_건수,금요일_매출_건수,토요일_매출_건수,일요일_매출_건수,시간대_건수~06_매출_건수,시간대_건수~11_매출_건수,시간대_건수~14_매출_건수,시간대_건수~17_매출_건수,시간대_건수~21_매출_건수,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수
count,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000,204097.000
mean,20212.840,1021418669.565,36141.356,768246389.588,253172259.434,146631427.710,151940653.784,149484545.928,151922155.134,168267599.937,154792351.608,98379931.238,31874476.048,105073024.951,255681354.284,262348402.191,284426423.925,82014975.291,461248423.375,445257425.089,5802746.913,134124586.728,189689903.226,214471866.961,196864290.737,165552066.737,27089.777,9051.579,5312.330,5338.128,5304.351,5379.669,5755.299,5230.939,3820.640,1386.435,4824.068,9095.165,7655.083,9850.515,3330.090,17796.251,16862.205,631.205,8318.685,8273.928,6899.460,5913.838,4621.333
std,16.430,9306141670.670,162093.699,6547403471.378,3317885822.540,1262005341.983,1291626785.793,1313965669.388,1303535151.925,1448820486.855,1900209886.216,1446482768.414,586988402.658,1166138608.116,2389866351.743,3260909439.403,2677464939.216,429459595.187,4469476882.361,3457516147.719,37390178.766,948386337.925,1708849233.148,2052674204.777,1837976996.154,1681023406.664,115792.312,53679.680,23006.818,23105.674,22668.572,22960.808,24622.843,29650.330,24407.606,10906.626,28278.970,43085.919,42099.020,45485.973,14676.458,79462.443,81591.575,10872.538,48861.079,38551.428,31032.064,26403.652,29048.657
min,20191.000,12.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-1.000,0.000,-1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,20193.000,44643346.000,821.000,32949846.000,7045454.000,4981520.000,5271998.000,5497800.000,5498405.000,6065123.000,4519715.000,0.000,0.000,62374.000,4833248.000,6930505.000,11062761.000,0.000,18007101.000,16584238.000,0.000,1486797.000,4808313.000,7731945.000,7382450.000,3298714.000,614.000,149.000,107.000,112.000,114.000,116.000,127.000,101.000,0.000,0.000,5.000,97.000,156.000,220.000,0.000,373.000,321.000,0.000,47.000,115.000,169.000,153.000,79.000
50%,20222.000,172566811.000,4379.000,128049248.000,35837517.000,22742284.000,23635258.000,23719742.000,23908092.000,26394617.000,22885372.000,8162372.000,0.000,5302978.000,31013441.000,32657120.000,47316500.000,3841331.000,77079630.000,69471730.000,182992.000,12680743.000,25498593.000,34639748.000,31871464.000,17426474.000,3212.000,993.000,601.000,619.000,633.000,635.000,704.000,645.000,242.000,0.000,146.000,900.000,915.000,1258.000,78.000,2128.000,1859.000,14.000,476.000,765.000,887.000,840.000,495.000
75%,20224.000,620469204.000,23423.000,469879556.000,138605252.000,88627271.000,90948708.000,89860678.000,90783118.000,99503254.000,87736868.000,46088283.000,2550746.000,42399479.000,136617300.000,129937944.000,172661517.000,39117526.000,283932057.000,264425230.000,2301409.000,64503303.000,105906624.000,126492381.000,117257228.000,79113407.000,17481.000,5467.000,3397.000,3425.000,3415.000,3448.000,3750.000,3328.000,1962.000,70.000,1738.000,5733.000,4809.000,6653.000,1251.000,11052.000,10655.000,183.000,3493.000,4519.000,4524.000,4157.000,2777.000
max,20232.000,1092340000000.000,13712109.000,858334000000.000,485357000000.000,156366000000.000,164982000000.000,186594000000.000,191168000000.000,173259000000.000,297300000000.000,188057000000.000,102708000000.000,118903000000.000,280539000000.000,479066000000.000,386343000000.000,33921517889.000,537243000000.000,304162000000.000,5243184142.000,91839508212.000,185968000000.000,285340000000.000,190992000000.000,238248000000.000,11745700.000,6262410.000,2701966.000,2549509.000,2343103.000,2221561.000,2113695.000,3785070.000,2477340.000,1111188.000,3183962.000,3405275.000,3439449.000,4287338.000,1221309.000,6708993.000,8458228.000,2786643.000,6843441.000,2843144.000,2528841.000,2297953.000,3188920.000

### 0인 값 확인

In [135]:
col = list(estimated_sales.columns)

for i in col:
    print(f'{i} : {len(estimated_sales[estimated_sales[i] == 0])}')

기준_년분기_코드 : 0
상권_구분_코드_명 : 0
상권_코드_명 : 0
서비스_업종_코드_명 : 0
당월_매출_금액 : 0
당월_매출_건수 : 0
주중_매출_금액 : 887
주말_매출_금액 : 16785
월요일_매출_금액 : 12689
화요일_매출_금액 : 11846
수요일_매출_금액 : 11532
목요일_매출_금액 : 11199
금요일_매출_금액 : 10539
토요일_매출_금액 : 19263
일요일_매출_금액 : 54704
시간대_00~06_매출_금액 : 135168
시간대_06~11_매출_금액 : 49578
시간대_11~14_매출_금액 : 20000
시간대_14~17_매출_금액 : 11010
시간대_17~21_매출_금액 : 8460
시간대_21~24_매출_금액 : 66353
남성_매출_금액 : 5568
여성_매출_금액 : 4394
연령대_10_매출_금액 : 86900
연령대_20_매출_금액 : 29263
연령대_30_매출_금액 : 15927
연령대_40_매출_금액 : 10409
연령대_50_매출_금액 : 11253
연령대_60_이상_매출_금액 : 19061
주중_매출_건수 : 885
주말_매출_건수 : 16737
월요일_매출_건수 : 12658
화요일_매출_건수 : 11804
수요일_매출_건수 : 11485
목요일_매출_건수 : 11155
금요일_매출_건수 : 10503
토요일_매출_건수 : 19207
일요일_매출_건수 : 54659
시간대_건수~06_매출_건수 : 135169
시간대_건수~11_매출_건수 : 49542
시간대_건수~14_매출_건수 : 19975
시간대_건수~17_매출_건수 : 10983
시간대_건수~21_매출_건수 : 8436
시간대_건수~24_매출_건수 : 66276
남성_매출_건수 : 5552
여성_매출_건수 : 4375
연령대_10_매출_건수 : 86933
연령대_20_매출_건수 : 29213
연령대_30_매출_건수 : 15881
연령대_40_매출_건수 : 10379
연령대_50_매출_건수 : 11213
연령대_60_이상_매출_건수 : 19018

# 데이터 전처리
- 시점을 22년 3분기부터 23년 2분기까지 총 1년치의 데이터를 활용
- 상권변화지표, 아파트, 소득소비는 필요없다고 생각하여 데이터 삭제

## 시점 통일

In [136]:
years = [20223, 20224, 20231, 20232]

living_popul = living_popul[living_popul['기준_년분기_코드'].isin(years)]
resident_popul = resident_popul[resident_popul['기준_년분기_코드'].isin(years)]
store = store[store['기준_년분기_코드'].isin(years)]
working_popul = working_popul[working_popul['기준_년분기_코드'].isin(years)]
facilitie = facilitie[facilitie['기준_년분기_코드'].isin(years)]
estimated_sales = estimated_sales[estimated_sales['기준_년분기_코드'].isin(years)]

## 길단위인구 전처리

In [138]:
living_popul['시간대_21_06_유동인구_수'] = living_popul['시간대_00_06_유동인구_수'] + living_popul['시간대_21_24_유동인구_수']
living_popul['평일_유동인구_수'] = living_popul['월요일_유동인구_수'] + living_popul['화요일_유동인구_수'] + living_popul['수요일_유동인구_수'] + living_popul['목요일_유동인구_수'] + living_popul['금요일_유동인구_수']
living_popul['주말_유동인구_수'] = living_popul['토요일_유동인구_수'] + living_popul['일요일_유동인구_수']
living_popul = living_popul.drop(['월요일_유동인구_수', '화요일_유동인구_수', '수요일_유동인구_수', '목요일_유동인구_수', '금요일_유동인구_수', '토요일_유동인구_수', '일요일_유동인구_수', '시간대_00_06_유동인구_수', '시간대_21_24_유동인구_수'], axis = 1)

## 집객시설 전처리

In [143]:
facilitie = facilitie.drop('집객시설_수', axis = 1)
facilitie = facilitie.fillna(0)